wp-admin/
wp-includes/
wp-content/*
!wp-content/mu-plugins/
!wp-content/themes/
p-content/uploads/
wp-content/cache/
wp-content/wflogs/
wp-content/upgrade/
wp-content/backups/
wp-content/ai1wm-backups/
wp-content/et-cache/
wp-content/advanced-cache.php
plugins/
uploads/
wflogs/
*.log
.DS_Store
.idea/
.vscode/
node_modules/
vendor/
