.two_column_template {
    color: $white;

    .two_column_section {
        .columns_wrap {
            display: flex;
            justify-content: center;

            @include media($tablet) {
                flex-wrap: wrap;
            }

            .column {
                > p {
                    @include smallFont;
                    line-height: 1.8;
                    color: $grayText;
                }

                &:first-child {
                    width: 40%;
                    padding-right: 40px;

                    @include media($desktop) {
                        width: 45%;
                    }

                    @include media($tablet) {
                        width: 100%;
                        padding-right: 0;
                        margin-bottom: 40px;
                    }

                    h3 {
                        @include smallFont;
                    }
                }

                &:last-child {
                    width: 60%;
                    text-align: center;
                    display: flex;
                    align-items: flex-start;

                    @include media($desktop) {
                        width: 55%;
                    }

                    @include media($tablet) {
                        width: 100%;
                    }

                    a {
                        margin: 0 auto;
                    }

                    .content_wrap {
                        padding: 40px;
                        background: $darkerGray;

                        @include media($desktop) {
                            padding: 40px 20px;
                        }

                        h2 {
                            margin: 0 0 20px;
                            line-height: 1.6;

                            span {
                                color: $red;
                            }
                        }

                        p {
                            color: $white;
                            padding: 0 16%;
                            line-height: 1.8;
                            margin-bottom: 40px;
                        }

                        h3 {
                            padding: 0 16%;
                            line-height: 1.8;
                            color: $white;

                            span {
                                color: $red;
                                @include intersemibold;
                            }
                        }
                    }
                }
            }
        }
    }

    form {
        position: relative;
        width: 100%;
        margin-top: 60px;

        .wpcf7-response-output {
            color: $red;
            margin-top: 40px;
            position: absolute;
            width: 100%;
            left: -8px;

            @include media($mobile) {
                font-size: 14px;
            }
        }

        div.wpcf7-validation-errors {
            color: $red;
            border-color: $red;
        }

        img {
            width: auto;
            float: right;
        }

        p {
            padding: 0;
            text-align: left;
        }
    }
}
