.contact_us {
    .two_column_section {
        .columns_wrap {
            display: flex;
            justify-content: center;

            @include media($tablet) {
                flex-wrap: wrap;
            }

            .column {
                > p {
                    @include smallFont;
                    line-height: 1.8;
                    color: $grayText;
                }

                &:first-child {
                    width: 40%;
                    padding-right: 40px;

                    @include media($desktop) {
                        width: 45%;
                    }

                    @include media($tablet) {
                        width: 100%;
                        padding-right: 0;
                    }

                    h3 {
                        @include smallFont;
                    }
                }

                &:last-child {
                    width: 60%;
                    text-align: center;
                    display: flex;
                    align-items: center;

                    @include media($desktop) {
                        width: 55%;
                    }

                    @include media($tablet) {
                        width: 100%;
                    }

                    a {
                        margin: 0 auto;
                    }

                    .content_wrap {
                        padding: 40px;
                        background: $darkerGray;

                        @include media($desktop) {
                            padding: 40px 20px;
                        }

                        h2 {
                            margin: 0 0 20px;
                            line-height: 1.6;

                            span {
                                color: $red;
                            }
                        }

                        p {
                            padding: 0 16%;
                            line-height: 1.8;
                            margin-bottom: 40px;
                        }

                        h3 {
                            padding: 0 16%;
                            line-height: 1.8;
                        }
                    }
                }
            }
        }
    }

    form {
        position: relative;
        width: 100%;
        margin-top: 60px;

        .wpcf7-response-output {
            color: $red;
            margin-top: 40px;
            position: absolute;
            width: 100%;
            left: -8px;

            @include media($mobile) {
                font-size: 14px;
            }
        }

        div.wpcf7-validation-errors {
            color: $red;
            border-color: $red;
        }

        img {
            width: auto;
            float: right;
        }

        p {
            padding: 0;
            text-align: left;
        }

        input,
        select {
            height: 55px;
            width: 100%;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border: 1px solid $borderGray;
            padding: 10px 20px;
            margin-bottom: 20px;
            background: $black;
            color: $white;

            &:focus {
                color: $white;
            }

            @include media($mobile) {
                height: 45px;
            }
        }

        input[type="text"] {
            color: $white;
        }

        textarea {
            width: 100%;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            padding: 10px 20px;
            border: 1px solid $borderGray;
            background: $black;
            max-height: 145px;
            color: $white;
        }

        input[type="submit"] {
            @include interbold;
            text-transform: uppercase;
            font-size: 1.5rem;
            padding: 10px 20px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0;
            position: relative;
            width: 28rem;
            text-align: center;
            background: $yellow;
            color: $black;
            margin-top: 30px;
            border: none;

            @include media($tablet) {
                font-size: 1.4rem;
                width: 26rem;
            }

            @include media($mobile) {
                font-size: 1.3rem;
                padding: 10px 15px;
                width: 24rem;
            }

            &:before {
                content: "";
                background: url("../images/arrow-right.svg") no-repeat;
                opacity: 0%;
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                width: 0;
                position: absolute;
                right: 8px;
                height: 25px;
            }

            &:hover {
                background: #c4a020;

                &:before {
                    content: "";
                    background: url("../images/arrow-right.svg") no-repeat;
                    position: absolute;
                    right: 8px;
                    height: 25px;
                    opacity: 100%;
                    width: 30px;
                }
            }
        }
    }
}

#loginform {
    background: $lightGray;
}
