.directory_wrapper {
    @include span-columns(12);
    padding-bottom: 100px;

    #pmpro_member_directory_subheading {
        display: none;
    }

    .pmpro_pagination {
        margin-top: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: space-between;
        -webkit-justify-content: space-between;

        .pmpro_page_numbers {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                @include interregular;
                padding: 5px 10px;
                color: $red;
                margin: 0 5px;
                font-size: 2rem;
                border-radius: 6px;

                &:hover {
                    color: $darkRed;
                }

                &.pmpro_page_active {
                    @include interbold;
                    color: $darkRed;
                }
            }

            .pmpro_next,
            .pmpro_prev {
                width: inherit;
            }

            .pmpro_prev {
                span {
                    left: 8px;
                    transform: rotateY(180deg);
                }
            }
        }
    }

    .pmpro_member_directory_search {
        &.search-form {
            @include span-columns(12);
            margin-bottom: 20px;
            position: relative;

            label {
                width: 100%;
                float: left;
                position: relative;
                z-index: 1;

                .screen-reader-text {
                    display: none;
                }

                input {
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    width: 100%;
                    float: left;
                    padding: 0 15px;
                    border-radius: 50px !important;
                }
            }

            button {
                appearance: none;
                -webkit-appearance: none;
                background: none;
                border: none;
                position: absolute;
                z-index: 2;
                right: 30px;
                top: 18px;
                padding: 0;
            }
        }
    }

    .pmpro_member_directory hr {
        display: none;
    }

    .pmpro_member_directory {
        > h3 {
            @include interregular;
            text-transform: none;
            font-size: 28px;
            margin: 0 0 20px;

            @include media($mobile) {
                font-size: 22px;
                margin: 0 0 10px;
            }
        }

        &.pmpro_member_directory-4col {
            @include media($desktop) {
                grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
            }

            @include media($mobile) {
                grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
            }
        }

        .pmpro_member_directory-item {
            display: flex;
            flex-direction: column;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            box-shadow: 0px 0px 30px -22px rgba(0, 0, 0, 0.8);
            -webkit-box-shadow: 0px 0px 30px -22px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 0px 0px 30px -22px rgba(0, 0, 0, 0.8);
        }

        .pmpro_member_directory_avatar {
            border-radius: 20px;
            border-top-right-radius: 20px;
            -webkit-border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            -webkit-border-top-left-radius: 20px;
            padding: 20px 20px 0 20px;
            position: relative;
            background: $black;

            a {
                width: 100%;

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    box-shadow: inset 0px 0px 74px 25px rgba(0, 0, 0, 0.8);
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                }
            }

            img {
                border-top-right-radius: 20px;
                -webkit-border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                -webkit-border-top-left-radius: 20px;
            }
        }

        .content_wrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            padding: 20px;

            .span {
                margin-bottom: 10px;

                .label {
                    width: 100%;

                    p {
                        @include interbold;
                    }
                }

                a {
                    display: flex;
                }
            }

            p {
                @include interregular;
                font-size: 14px;
                color: $red;
                line-height: 1.5;
                text-align: left;
                margin: 0;

                @include media($tablet) {
                    font-size: 12px;
                }

                @include media($smallMobile) {
                    margin: 0;
                }

                &.pmpro_member_directory_link {
                    margin-top: auto;

                    a {
                        color: $black;
                        width: 100%;
                    }
                }
            }

            .label p {
                color: $black;
            }

            a {
                text-align: center;
                color: $red;
                margin: 0;
            }

            .profile_link a {
                display: block;
                text-align: left;
                color: $red;
                padding: 0;
                margin: 0;
            }

            .send_message {
                @include media($mobile) {
                    display: inline-block;
                    width: 48%;
                }

                a {
                    @include media($tablet) {
                        padding: 3px 12px;
                    }

                    @include media($mobile) {
                        padding: 2px 12px;
                    }
                }
            }
        }
    }
}

.member-profile {
    display: flex;
    justify-content: center;

    .directory_profile_wrap {
        > form {
            display: none;
        }
    }
}

.directory_profile_wrap {
    text-align: center;
    max-width: 1200px;

    @include media($mobile) {
        margin: 40px 0;
        max-width: unset;
    }

    .pmpro_member_directory_avatar {
        margin-bottom: 10px;
    }

    .pmpro_member_profile {
        //background: $lightGray;
        padding: 40px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        display: flex;
        justify-content: flex-start;
        gap: 4rem;
        margin: 0 auto 60px;
        text-align: left;

        @include media($tablet) {
            padding: 20px;
        }

        @include media($smallMobile) {
            flex-wrap: wrap;
        }

        .label {
            @include interbold;
            font-size: 1.8rem;

            @include media($mobile) {
                font-size: 1.5rem;
            }
        }

        p {
            @include interregular;
            font-size: 1.8rem;

            @include media($mobile) {
                font-size: 1.4rem;
            }
        }

        .avatar {
            border-radius: 100%;

            img {
                border-radius: 100%;
                object-fit: cover;
                max-height: 200px;
                max-width: 200px;
                margin: 0;
            }
        }
    }

    .content_wrap {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include media($tablet) {
            width: 70%;
        }

        @include media($smallMobile) {
            width: 100%;
        }

        .bass_guitars,
        .bass_amps {
            grid-row: 3;
        }

        .membership_level {
            grid-column: 1/4;
        }

        .directory_bio {
            grid-row: 4;
            grid-column: 1/4;
        }
    }

    .send_message {
        float: left;
        display: block;

        @include media($smallMobile) {
            width: 100%;
            margin-bottom: 20px;
        }

        a {
            @include media($smallMobile) {
                width: 100% !important;
            }
        }
    }

    .pmpro_actions_nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: flex-end !important;
        -webkit-justify-content: flex-end !important;
        margin: 0 auto;

        @include media($smallMobile) {
            width: 100%;
        }

        .button.black {
            @include media($smallMobile) {
                width: 100%;
            }
            &:hover {
                border-color: $black;
                color: $black;
            }
        }
    }
}
