.checkout_page {

    .pmpro_discount_code_msg,
    #pmpro_message.pmpro_success { display: none !important; }

    .top_section {
        padding: 30px 40px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        margin-bottom: 40px;

        @include media($tablet) {
            padding: 10px 20px;
        }

        .numbered_list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            column-gap: 15px;

            @include media($tablet) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }
            .list_row {
                margin-bottom: 0;
            }
            p {
                font-size: 1.6rem;

                @include media($mobile) {
                    font-size: 1.5rem;
                }
            }

            .outer_circle {
                background:  $lightGray;
            }
        }
    }
}

.form_wrapper {
    color: $black;
    display: flex;
    gap: 1.5rem;

    @include media($tablet) {
        display: table;
    }

    .top_section {
        margin-bottom: 0;

        @include media($tablet) {
            padding: 10px 20px;
        }

        h2 {
            @include mediumFont;
        }

        .white_box {
            background: $white;
            padding: 30px;
            color: $darkGray;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            width: 70%;

            @include media($smallMobile) {
                width: 100%;
            }

            p {
                @include exSmallFont;
                margin: 0;
                padding: 0;

                @include media($tablet) {
                    width: 100%;
                    border-bottom: none;
                }
            }
        }

        .sig {
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            width: 30%;

            @include media($smallMobile) {
                width: 100%;
                margin-bottom: 10px;
            }

            p {
                @include intermediumitalic;
                @include exSmallFont;
                display: inline-block;
                margin-bottom: 0;
                color: $darkGray;

                @include media($tablet) {
                    width: auto;
                }
            }

            .image_wrap {
                position: relative;
                display: inline-block;
                width: 58px;
            }
        }

        .bottom_content {
            text-align: center;
            color: $darkGray;
            line-height: 1.6;

            @include media($smallMobile) {
                text-align: left;
            }

            p {
                margin: 0;
            }
        }
    }

    .mobile_button {
        display:none;
        text-align: center;

        @include media($tablet) {
            display: block;
        }

        a {
            margin: 0 auto;
            width: 100% !important;
        }
    }

    &.billing {
        @include span-columns(12);

        .pmpro_submit {
            width: 100%;
            float: left;
            margin-top: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: space-between;
            -webkit-justify-content: space-between;

            input[type="submit"] {
                max-width: 100px;
            }

            .button.yellow {
                max-width: 100px;
                width: 100%;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    color: $black;
                }
            }
        }
    }

    .column {
        @include span-columns(6);

        @include media($tablet) {
            width: 100%;
            float: none;
            margin-bottom: 20px;
        }

        &:first-child {
            display: table-footer-group;

            .column_content {
                padding: 40px;
            }
        }

        &:last-child {
            display: table-header-group;

            .top_section {
                background: $lightGray;
                padding: 40px;

                .two_columns {
                    display: flex;
                    margin: 20px 0 60px;

                    @include media($smallMobile) {
                        flex-wrap: wrap;
                    }
                }
            }
        }

        h3 {
            @include medLargeFont;
            @include interbold;
            margin: 0;
            line-height: 1.6;

            @include media($tablet) {
                font-size: 2.5rem;
            }
        }

        #pmpro_account_loggedin {
            text-align: center;
            padding-top: 20px;
        }

        .column_content {
            /*.row_wrap {
                @include span-columns(12);

                @include media($tablet) {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                }

                @include media($mobile) {
                    @include span-columns(4);
                    border-bottom: none;
                }

                &:last-child {
                    @include media($tablet) {
                        border-bottom: none;
                    }

                    .row {
                        border-bottom: none;

                        @include media($tablet) {
                            @include span-columns(8);
                            border-right: none;
                        }
                    }
                }
            }*/

            .columns_wrap {
                --min: 150px; /* minimum card width before wrapping; adjust to taste */
                display: grid;
                gap: clamp(14px, 2vw, 24px);
                grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
                align-items: stretch;
                flex-wrap: wrap;
                margin-top: 40px;
            }
            .column {
                height: 100%;
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                margin: 0;
                justify-content: start;
                -webkit-justify-content: flex-start;
                align-items: center;
                -webkit-align-items: center;
                padding: 20px 10px;
                border: 1px solid rgba(255, 0, 10, .1);
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;

                .image_wrap {
                    width: 14%;
                    padding-left: 0;

                    /*img {
                        @include media($tablet) {
                            width: 35px;
                            margin: 0 auto;
                        }

                        &.advanced {
                            @include media($tablet) {
                                width: 30px;
                            }
                        }

                        &.library {
                            @include media($tablet) {
                                width: 46px;
                            }
                        }

                        &.throwdown {
                            @include media($tablet) {
                                width: 22px;
                            }
                        }

                        &.army {
                            @include media($tablet) {
                                width: 24px;
                            }
                        }
                    }*/
                }

                .copy {
                    width: 100%;
                    float: left;

                    @include media($tablet) {
                        @include span-columns(8);
                    }

                    h4 {
                        @include interregular;
                        margin: 5px 0 10px;
                        color: $red;
                        font-size: 1.5rem;
                        text-align: center;
                    }

                    p {
                        font-size: 1.3rem;
                        margin: 0;
                        color: $darkGray;
                    }
                }
            }
        }

        .pmpro_form_field-radio-item {
            display: flex;
            width: 100%;
            gap: 1rem;
            margin-bottom: 10px;
        }

        .pmpro_submit {
            @include span-columns(12);
            margin-top: 10px;
            margin-left: 0;

            @include media($tablet) {
                text-align: center;
            }
        }

        #pmpro_submit_span {
            position: relative;
            float: left;
            width: 100%;
        }

        p.terms {
            width: 100%;
            float: left;
            margin-top: 10px;
            font-size: 11px;

            a {
                @include interbold;
                color: $red;
            }
        }

        #pmpro_processing_message {
            @include span-columns(12);
            @include interbold;
            color: $red;
            font-size: 2rem;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            height: 100%;
            width: 100%;
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            background: rgba(255, 255, 255, .9);
        }

        input[type="submit"] {
            @include interbold;
            width: 100%;
            float: left;
            border: none;
            padding: 10px 20px;

            @include media($mobile) {
                padding: 10px 20px;
                display: inline-block;
            }

            @include media($smallMobile) {
                width: 100%;
            }
        }

        #pmpro_paypalexpress_checkout {
            width: 100%;
            float: left;
        }
    }

    .bottom_section {
        padding: 20px;

        @include media($tablet) {
            text-align: center;
        }

        @include media($mobile) {
            padding-bottom: 0;
        }

        p {
            @include intermediumitalic;
            color: $darkGray;
            line-height: 1.4;
        }
    }

    fieldset#pmpro_user_fields {
        display: none;
    }
}

form.pmpro_form div {
    clear: none;
}

form.pmpro_form select {
    max-width: none;
    width: 100%;
}

.red_border_wrap {
    margin: 0;
    border: 5px solid $red;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: $white;
    padding-bottom: 15px;
    margin-top: 0 !important;
}
#pmpro_form .pmpro_checkout h3 {
    margin: 0;
    padding: 10px 0 14px;
}

form.pmpro_form .pmpro_checkout-fields div {
    margin: 0;
}

#pmpro_payment_information_fields .pmpro_checkout-fields-display-seal {
    display: block;
    padding: 0 10px;
}

.pmpro_btn.pmpro_btn-submit-checkout {
    width: 100% !important;
    float: right !important;
    box-shadow: 0 3px 15.04px 0.96px rgba(0, 0, 0, 0.11);
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px !important;
    border: none;
    border-radius: 8px !important;
    padding: 7px 20px !important;
    text-transform: uppercase;

    &:not(.pmpro_btn-submit-checkout-paypal) {
        padding: 11px 20px !important;
    }

    p {
        font-weight: bold;
        margin: 0;
    }

    img {
        max-width: 35px;
    }

    &.pmpro_btn-submit-checkout-paypal {
        background-color: #ffc439;
    }
}

.pmpro_form {
    @include span-columns(12);
    color: #000;

    &.checkout_page {
        background: transparent;
    }

    input[type="text"] {
        padding: 0 10px !important;
    }

    input[type="email"] {
        padding: 0 10px !important;
    }

    input[type="password"] {
        padding: 0 10px !important;
    }

    label span {
        color: $red;
        margin-left: 5px;
        font-size: 18px;
    }

    .content {
        padding-top: 60px;
        text-align: center;
    }

    #nav-below {
        text-align: left;
        margin-top: 40px;
    }

    .pmpro_checkout {
        @include span-columns(12);
        padding: 20px;

        tbody {
            @include span-columns(12);

            tr {
                @include span-columns(12);

                td {
                    @include span-columns(12);
                }
            }
        }

        label {
            @include span-columns(12);
            text-align: left;
            font-size: 14px;
            font-weight: normal;
            margin: 10px 0 5px;
        }

        input {
            @include span-columns(12);
            max-width: unset !important;
            height: 40px;
            border: 1px solid $borderGray;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;

            @include media($mobile) {
                width: 100% !important;
                height: 35px;
            }
        }

        .pmpro_asterisk {
            display: none;
        }
    }

    .pmpro_checkout-fields.user_info {
        padding: 0 10px;
    }

    #pmpro_payment_method {
        @include boxShadow;
        padding: 40px;
        margin: 40px 0;
        background: $lightGray;
        border: none;

        h2 {
            @include medLargeFont;
        }

        .pmpro_checkout-fields {
            @include span-columns(12);
            font-size: 14px;
            line-height: 1;

            .gateway_braintree {
                @include span-columns(12);
                margin-bottom: 20px;
            }

            .gateway_paypalexpress {
                @include span-columns(12);
            }

            input {
                width: auto;
                height: auto;

                @include media($mobile) {
                    width: auto !important;
                }
            }

            a {
                @include interregular;
                float: left;
                color: $black;

                @include media($mobile) {
                    font-size: 12px;
                }
            }
        }
    }

    #pmpro_billing_address_fields {
        margin-top: 0;
        padding: 40px;
        border: none;

        .pmpro_cols-2 {
            width: 100%;
        }

        h3 {
            background: none;
            padding-bottom: 0;
        }

        label {
            margin-top: 10px;
        }

        .half_width {
            width: 50%;
        }
    }

    #pmpro_payment_information_fields {
        @include boxShadow;
        padding: 40px;
        border: none;
        background: $lightGray;
        margin-top: 40px;

        .pmpro_payment-discount-code {
            display: none;
        }

        h2 {
            @include medLargeFont;
        }

        .pmpro_thead-name {
            @include span-columns(12);
            text-align: left;
        }

        .pmpro_thead-msg {
            @include span-columns(12);
            text-align: left;
        }

        .half_width {
            width: 48%;
            float: left;

            &.right {
                float: right;
            }
        }

        .pmpro_thead-msg {
            font-size: 13px;
        }

        .pmpro_payment-card-type {
            width: 48%;
            float: left;
            margin: 0 0 5px;

            @include media($mobile) {
                width: 100%;
            }

            select {
                width: 100%;
            }
        }

        .pmpro_payment-account-number {
            width: 100%;
            float: left;

            @include media($mobile) {
                width: 100%;
            }
        }

        .pmpro_payment-expiration {
            width: 50%;
            float: left;
            margin-right: 2%;

            select {
                width: 48%;

                &#ExpirationMonth {
                    @include media($smallMobile) {
                        width: 42%;
                    }
                }

                &#ExpirationYear {
                    @include media($smallMobile) {
                        width: 54%;
                    }
                }
            }
        }

        .pmpro_payment-cvv {
            width: 48%;
            float: left;
            margin: 0 0 5px;
        }

        .pmpro_sslseal {
            a {
                float: right;
            }

            img {
                width: auto;
            }

            span {
                padding-left: 12px;
            }
        }
    }
}

.billing_wrap {
    padding: 0 10%;

    @include media($tablet) {
        padding: 0 5%;
    }

    @include media($mobile) {
        padding: 0;
    }
}

.billing_content {
    margin: 100px 0;
    background: $lightGray;
    padding: 40px;
    @include boxShadow;

    @include media($mobile) {
        padding: 20px;
        margin: 40px 0;
    }

    .pmpro_form {
        border: 1px solid $borderGray;
        padding: 20px;

        @include media($mobile) {
            padding: 10px 0;
        }
    }

    #pmpro_billing_address_fields {
        .half_width {
            width: 49%;
        }
    }

    #pmpro_payment_information_fields {
        .pmpro_payment-card-type {
            width: 49%;
        }

        .pmpro_payment-account-number {
            width: 49%;
        }

        #ExpirationMonth {
            width: 49%;
        }

        #ExpirationYear {
            width: 49%;
        }

        .pmpro_payment-cvv {
            width: 49%;
        }
    }

    .buttons {
        @include span-columns(12);

        input {
            padding: 7px 15px;

            @include media($mobile) {
                display: inline-block;
                width: auto;
                float: none;
            }
        }
    }

    input.three_col {
        @include span-columns(4);

        @include media($mobile) {
            width: 48% !important;
        }

        &:nth-child(3) {
            @include media($mobile) {
                margin-right: 0;
            }
        }

        &#bzipcode {
            @include media($mobile) {
                margin-top: 10px;
            }
        }
    }
}

#ssl {
    width: 100%;
    height: 100%;
    display: none;
}

form.pmpro_form #other_discount_code.input {
    max-width: 75% !important;
    margin-right: 1% !important;

    @include media($mobile) {
        max-width: unset;
        margin-bottom: 10px;
    }
}

.discount_form {
    @include span-columns(12);
    text-align: center;

    input[type="button"] {
        width: 24%;
        float: left;
        background: $red !important;
        color: $white !important;
        margin-left: 0 !important;
        text-decoration: none !important;

        &:hover {
            background: $darkRed !important;
        }

        @include media($mobile) {
            margin-top: 20px;
        }
    }

    label {
        margin-top: 0 !important;
    }
}

#other_discount_code_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    a,
    button {
        color: $red !important;
        @include interbolditalic;
    }
}

#pmpro_message {
    @include span-columns(12);
    background: $lightYellow;
    color: $red;
    margin: 0;
    text-align: center;

    @include media($mobile) {
        font-size: 12px;
    }

    h4 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        margin: 0;

        @include media($mobile) {
            font-size: 14px;
        }
    }
}

#pmpro_user_fields h3 {
    display: none;
}

#pmpro_pricing_fields {
    padding: 40px;
    margin: 40px 0;

    #other_discount_code_fields {

        .pmpro_form_fields-inline {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            gap: 10px;

            #pmpro_other_discount_code {
                width: 85%;
            }

            #other_discount_code_button {
                width: 15%;
            }

        }
    }



    h2.pmpro_card_title {
        display: none;
    }

    h3,
    #pmpro_level_cost,
    .no_show {
        display: none;
    }

    #other_discount_code_tr {
        label {
            @include interregular;
            width: 100%;
            float: left;
            font-size: 14px;
            color: $black;
        }

        td {
            padding: 0;
        }

        #other_discount_code {
            float: left;
            height: 40px;
            margin-right: 1.2%;
            padding: 0 10px;

            @include media($tablet) {
                height: 30px;
            }

            @include media($smallMobile) {
                height: 25px;
            }
        }

        #other_discount_code_button {
            width: 23.8%;
            float: left;
            border: none;
        }
    }
}

#pmpro_payment_method span.gateway_paypalexpress {
    margin-left: 0;
}

.pmpro_captcha {
    margin-bottom: 20px;

    .g-recaptcha {
        @include media($mobile) {
            margin: auto;
        }
    }
}

.pmpro_level_description_text {
    text-align: center;

    p {
        margin: 0;
    }
}

input[type="submit"] {
    line-height: 1.6;
}
form {
    input:not([type="submit"]):not(.ed_button):not([type="checkbox"]):not(
            [type="radio"]
        ),
    input[type="text"],
    input[type="email"],
    select {
        height: 55px;
        width: 100%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid $borderGray;
        padding: 10px 20px !important;
        margin-bottom: 20px;
        background: $black;
        color: $white;

        &:focus {
            color: $white;
        }

        @include media($mobile) {
            height: 45px;
        }
    }

    input[type="text"] {
        color: $white;
    }

    textarea {
        width: 100%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 10px 20px;
        border: 1px solid $borderGray;
        background: $black;
        max-height: 145px;
        color: $white;
    }

    input[type="submit"] {
        @include interbold;
        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 10px 20px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
        position: relative;
        width: 28rem;
        text-align: center;
        background: $yellow;
        color: $black;
        margin-top: 30px;
        border: none;

        @include media($tablet) {
            font-size: 1.4rem;
            width: 26rem;
        }

        @include media($mobile) {
            font-size: 1.3rem;
            padding: 10px 15px;
            width: 24rem;
        }

        &:hover {
            background: #c4a020;
        }
    }

    .login-submit {
        position: relative;
        width: 100%;

        .button {
            margin: 0;
        }

        &:before {
            content: "";
            opacity: 0%;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            width: 0;
            position: absolute;
            right: 20px;
            height: 25px;
            top: 52px;
        }

        &:hover {
            &:before {
                content: "";
                background: url("../images/arrow-right.png") no-repeat;
                position: absolute;
                right: 20px;
                height: 25px;
                opacity: 100%;
                width: 30px;
                top: 52px;
                filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(41deg)
                    brightness(103%) contrast(101%);
                z-index: 1;
            }
        }
    }

    .acf-loading,
    .acf-spinner {
        background-image: none;
        background: none;
    }
}

.membership-billing {
    .pmpro_form_fields {
        width: 100%;
    }
    .pmpro_card {
        overflow: visible;
    }
    .pmpro_section#pmpro_billing-1, .pmpro_section#pmpro_billing-2 {
        > .pmpro_card:not(.pmpro_form) {
            padding: 40px;
            color: $black;
            margin-bottom: 60px;
            background: $lightGray;
            @include boxShadow;

            @include media($tablet) {
                margin-bottom: 40px;
            }

            a {
                color: $red;
                &:hover {
                    color: $darkRed;
                }
            }

            h3 {
                @include medLargeFont;
                @include interbold;
                margin-top: 0;
            }

            .pmpro_card_content {
                flex-direction: column;
            }
        }
    }

    .pmpro_card_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;

        #pmpro_billing_address_fields,
        #pmpro_payment_information_fields {
            width: 47.5%;
            margin-top: 0;

            @include media($tablet) {
                width: 100%;
                margin-bottom: 20px;
            }

            .pmpro_payment-expiration {
                width: 100%;
                margin-right: 0;
            }
        }

        h3,
        h2 {
            @include medLargeFont;
            @include interbold;
            margin-top: 0;
        }
    }

    .pmpro_billing_gateway-stripe {
        .pmpro_card_content {
            #pmpro_payment_information_fields .pmpro_payment-expiration {
                width: 48%;
            }
            .pmpro_form_submit {
                width: 100%;
            }
        }
    }

    .pmpro_form_input {
        height: 55px;
        color: $black;
        border-color: $borderGray;
        border-radius: 6px;
    }

    form label {
        color: $black !important;
    }

    .pmpro_form_submit {
        margin-top: 10px;

        @include media($tablet) {
            margin-top: 0;
        }

        @include media($smallMobile) {
            width: 100% !important;
        }

        input {
            margin-top: 0;
            width: 28rem !important;

            @include media($smallMobile) {
                width: 100% !important;
            }

            &.pmpro_btn-cancel {
                display: none;
            }
        }
    }
}

.logged-in {
    form {
        input:not([type="submit"]):not(.ed_button):not([type="checkbox"]):not(
                [type="radio"]
            ),
        input[type="text"],
        input[type="email"],
        select {
            &:not(#other_discount_code_button) {
                border: 1px solid $borderGray;
                background: $white;
                color: $black;
                outline: none !important;

                &:focus {
                    color: $black;
                }

                @include media($mobile) {
                    height: 45px;
                }
            }
        }

        textarea {
            background: $white;
            color: $black;
            border: 1px solid $borderGray;
            padding: 10px 20px;
            outline: none !important;
        }

        input[type="submit"] {
            background: $yellow;
            color: $black;
            border: none !important;

            &:hover {
                background: $yellowHover;
            }
        }
    }
}
.pmpro {
    form {
        margin-top: 0 !important;

        label {
            color: $white;
            @include interregular;
            font-size: 1.5rem;
            margin-bottom: 5px;
        }

        input[type="checkbox"] {
            height: auto;
            width: auto;
        }
    }

    .pmpro_form_field-password-toggle {
        button {
            @include interregular;
            color: $red;
            font-size: 1.2rem;

            .pmpro_icon-eye {
                width: 15px;
                height: 15px;

                svg {
                    stroke: $red;
                    width: 100%;
                    height: 100%;
                }
            }

            &:hover {
                color: $darkRed;
                font-size: 1.2rem;

                svg {
                    stroke: $darkRed;
                }
            }
        }
    }

    .pmpro_card {
        background-color: unset;
        border: none;
        margin: 0;
        box-shadow: unset;
    }

    .pmpro_section {
        margin: 0;

        #loginform {
            .login-submit {
                .button {
                    color: $black !important;
                    border: none !important;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    border-radius: 4px;

                    &:hover {
                        background-color: $yellowHover !important;
                        border: none !important;
                    }
                }
            }

            .login-remember {
                input[type="checkbox"] {
                    margin: 0;
                }
            }

            .input {
                background-color: $black;
                color: $white;

                &:focus {
                    background-color: unset;
                    color: $white;
                    border-color: unset;
                }
            }
        }
    }

    .pmpro_card_actions {
        padding: 0;
        text-align: left;

        .pmpro_actions_nav {
            color: transparent;
            margin-left: -5px;

            @include media($mobile) {
                text-align: left;
            }
        }

        a,
        a:visited {
            color: $red;

            &:hover {
                color: $darkRed;
            }

            &:first-child {
                display: none;
            }
        }
    }

    .pmpro_card_content {
        padding-top: 0 !important;
        padding: 0;
        margin: 0;

        + .pmpro_card_actions {
            border-top: none;
        }
    }
}

.pmpro_login_wrap .pmpro_card_content,
.pmpro_lost_password_wrap .pmpro_card_content {
    padding: 0;
}

.wp-media-buttons {
    display: none !important;
}

input[type="file"] {
    &.file_selected {
        &:before {
            background: $white !important;
        }
    }
}
.membership-checkout {
    form input[type=submit] {
        margin-top: 0;
    }
}