.home_section {
    @include span-columns(12);
    position: relative;

    form {
        position: relative;

        .mc4wp-form-fields {
            position: relative;
        }
    }

    .hero {
        @include span-columns(12);
        background-size: cover !important;
        text-align: left;
        padding: 13% 0 8%;
        background-position: center 70% !important;

        @include media($tablet) {
            padding: 15% 0 8%;
        }

        .ie10 {
            top: -1px;
        }

        h2 {
            @include interextrabolditalic;
            font-size: 6rem;
            text-transform: uppercase;
            text-shadow: 1px 4px 2px rgba(0, 0, 0, 1);
            color: $red;
            line-height: 1.2;

            @include media($tablet) {
                font-size: 5rem;
            }

            @include media($mobile) {
                font-size: 4rem;
                margin-top: 45px;
            }

            @include media($smallMobile) {
                font-size: 8vw;
                margin-top: 12vw;
            }
        }

        h3 {
            @include interextrabolditalic;
            font-size: 3.5rem;
            text-transform: uppercase;
            color: $yellow;
            margin: 0;
            text-shadow: 1px 4px 2px rgba(0, 0, 0, 1);
            line-height: 1.2;

            @include media($tablet) {
                font-size: 2.9rem;
            }

            @include media($mobile) {
                font-size: 2.3rem;
            }

            @include media($smallMobile) {
                font-size: 4.6vw;
            }
        }

        .content_wrap {
            display: inline-block;
            position: relative;
            margin-top: 30px;
            width: 100%;

            .text_wrap {
                float: left;
                text-align: center;
                width: 100%;

                p {
                    font-size: 16px;
                    margin: 10px 0 20px;
                    text-align: left;

                    @include media($tablet) {
                        font-size: 1.4rem;
                    }

                    @include media($smallMobile) {
                        margin: 10px 0;
                    }
                }

                a {
                    @include intersemibold;
                    text-align: center;
                }
            }
        }
    }

    section:not(.hero) {
        padding: 60px 0;

        @include media($mobile) {
            padding: 30px 0;
        }
    }

    .video {
        text-align: center;

        @include media($mobile) {
            padding: 40px 0 20px;
        }

        p {
            color: $darkGray;
            line-height: 2;
        }

        @include smallContainer;

        .video_wrapper {
            &:after {
                content: "";
                background: url("../images/circles.png") no-repeat;
                background-size: 100%;
                position: absolute;
                width: 100px;
                height: 100%;
                right: -56px;
                top: -30px;
                z-index: -1;
            }
        }

        iframe {
            border: none;
            border-radius: 15px;
        }

        .text_wrap {
            margin-top: 20px;

            .signup_text {
                @include interbold;
                @include mediumFont;
                max-width: 40%;
                line-height: 1.6;
                margin: 40px auto 20px;

                @include media($tablet) {
                    max-width: 50%;
                }
            }

            .button {
                max-width: 40%;
                margin: 0 auto;

                @include media($tablet) {
                    max-width: 50%;
                }

                @include media($smallMobile) {
                    max-width: 100%;
                }

                &:hover {
                    max-width: 45%;

                    @include media($tablet) {
                        max-width: 55%;
                    }

                    @include media($smallMobile) {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .lessons {
        background: $black;
        text-align: center;

        @include media($mobile) {
            padding: 30px 0;
        }

        @include smallContainer;

        h2 {
            margin-bottom: 40px;
            line-height: 1.3;
            padding: 0 6%;

            @include media($tablet) {
                padding: 0 3%;
            }

            @include media($mobile) {
                padding: 0;
            }

            span {
                color: $yellow;
            }
        }

        .columns {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 0 5%;

            @include media($mobile) {
                gap: 10px;
                padding: 0;
            }

            .column {
                @include media($mobile) {
                    width: 40%;
                }

                h3 {
                    display: inline-block;
                    background: $darkGray;
                    padding: 15px 30px;
                    @include smallFont;
                    border-radius: 30px;
                    margin: 0;
                }
            }
        }

        .slider_wrap {
            margin-top: 60px;

            .swiper-button-prev,
            .swiper-button-next {
                color: $grayText;
            }

            .swiper-button-prev {
                left: -50px;
            }

            .swiper-button-next {
                right: -50px;
            }

            .swiper-slide {
                h4 {
                    @include interregular;
                    @include smallFont;
                    text-align: left;
                    line-height: 1.8;
                    color: $grayText;
                    margin: 10px 0 0;

                    @include media($tablet) {
                        font-size: 1.6rem;
                    }

                    @include media($mobile) {
                        font-size: 1.4rem;
                    }

                    @include media($smallMobile) {
                        font-size: 2.8vw;
                    }
                }

                a {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;

                    &:before {
                        content: "";
                        background: url("../images/play-button2.png") no-repeat;
                        background-color: rgba(0, 0, 0, 0.6);
                        background-position: center;
                        background-size: 20%;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }

    .call_to_action {
        @include span-columns(12);
        text-align: center;
        background: url("../images/middle-section-bg.jpg") no-repeat;
        background-size: cover;
        background-position: center center;
        padding-bottom: 10%;

        .button {
            margin: 0 auto;
            width: 20rem;

            &:hover {
                width: 25.5rem;
            }
        }
    }

    .about_me {
        background-color: $black;
        padding-left: 120px;
        padding-right: 120px;

        @include media($mobile) {
            padding-left: 60px;
            padding-right: 60px;
        }

        img {
            border-radius: 15px;
        }

        .button {
            width: 22rem;
            padding: 15px 30px;

            @include media($tablet) {
                padding: 15px 25px;
            }

            &:hover {
                width: 24rem;
            }
        }
        h2 {
            text-align: center;
            margin-bottom: 75px;

            @include media($mobile) {
                margin-bottom: 40px;
            }
        }
        .columns_2 {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 60px;

            @include media($tablet) {
                flex-wrap: wrap;
                gap: 30px;
            }

            p {
                color: $grayText;
                line-height: 2;

                span {
                    color: $white;
                }
            }

            h4 {
                margin-bottom: 10px;
            }

            small {
                color: $grayText;
            }

            .column {
                width: 50%;

                @include media($tablet) {
                    width: 100%;
                }

                &:first-child {
                    @include media($tablet) {
                        padding: 0 12%;
                    }
                }
            }
        }
    }

    #testimonials_section {
        color: $black;
        text-align: center;
        @include smallContainer;

        h2 {
            line-height: 1.4;
            margin: 40px 0;
        }

        h4 {
            @include interregular;
            color: $darkGray;
            line-height: 1.7;
        }

        .content_wrap {
            margin: 60px 0 40px;
            padding: 0 20px;

            @include media($mobile) {
                margin: 40px 0;
            }

            h2 {
                margin-top: 120px;
                margin-bottom: 0;

                @include media($mobile) {
                    margin-top: 60px;
                }
            }

            h4 {
                @include media($mobile) {
                    margin: 0;
                }
            }
        }

        .testimonials {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            margin-top: 60px;

            @include media($tablet) {
                gap: 20px;
            }

            @include media($mobile) {
                margin-top: 40px;
                gap: 0;
            }
        }

        .column {
            width: 25%;
            text-align: left;

            @include media($tablet) {
                width: 48%;
            }

            @include media($mobile) {
                width: 100%;
            }

            &:last-child {
                @include media($tablet) {
                    display: none;
                }
            }

            .reviews {
                margin-bottom: 40px;
            }

            p {
                line-height: 1.9;
                color: $darkGray;
                margin-bottom: 0;
            }

            .col_footer {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;

                h5 {
                    @include exSmallFont;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .stars {
                    display: flex;
                }

                img {
                    max-width: 12px;
                }
            }
        }
    }

    section.call_to_action_two_col {
        padding-top: 0;
        background: $black;

        .top_section {
            text-align: center;
            background: url("../images/bottom-section-bg.jpg") no-repeat;
            background-size: cover;
            background-position: center center;
            padding: 60px 0 6%;
        }

        .bottom_section {
            background: $black;

            .two_col {
                display: flex;
                justify-content: center;
                padding-bottom: 60px;

                @include media($mobile) {
                    flex-wrap: wrap;
                }

                h3 {
                    @include intersemibold;

                    @include media($mobile) {
                        margin-bottom: 10px;
                    }
                }

                h4 {
                    color: $red;
                    @include smallFont;
                    margin: 0;
                }

                h5 {
                    font-size: 2rem;
                    margin-top: 20px;

                    @include media($mobile) {
                        margin-top: 10px;
                    }
                }

                .column {
                    padding: 0 40px;

                    @include media($mobile) {
                        width: 100%;
                    }

                    ul {
                        margin: 0;
                        color: $grayText;

                        @include media($mobile) {
                            display: flex;
                            flex-wrap: wrap;
                            column-gap: 10px;
                            margin-bottom: 20px;
                        }

                        li {
                            position: relative;
                            padding-left: 10px;

                            @include media($mobile) {
                                width: 48%;
                                padding-right: 20px;
                                padding-left: 5px;
                            }

                            @include media($smallMobile) {
                                width: 100%;
                            }

                            &:before {
                                content: "";
                                background: url("../images/check.png") no-repeat;
                                background-size: 100%;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                left: -25px;
                                top: 5px;
                            }
                        }
                    }

                    &:last-child {
                        width: 22%;
                        text-align: center;
                        border: 1px solid $red;
                        border-radius: 8px;
                        padding-top: 20px;
                        padding-bottom: 40px;

                        @include media($desktop) {
                            width: 40%;
                        }

                        @include media($mobile) {
                            width: 100%;
                        }

                        @media all and (min-width: 551px) and (max-width: 767px) {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            padding: 0;

                            h5 {
                                margin-bottom: 20px;
                            }
                        }

                        .button {
                            width: 100%;

                            @include media($tablet) {
                                max-width: 26rem;
                                margin: 0 auto;
                            }

                            @include media($mobile) {
                                width: 100%;
                            }

                            &:hover {
                                width: 100%;

                                @include media($tablet) {
                                    max-width: 28rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .faq {
        color: $black;
        text-align: center;

        .small_container {
            max-width: 60%;
            margin: 0 auto;

            @include media($tablet) {
                max-width: 80%;
            }

            @include media($smallMobile) {
                max-width: 100%;
            }
        }

        h2:not(.accordion-header) {
            text-align: center;
            margin-bottom: 60px;

            @include media($mobile) {
                margin-bottom: 30px;
            }
        }

        .accordion {
            text-align: left;
        }

        .accordion-item {
            border: none;
            border-bottom: 1px solid $black;
            padding: 20px 0;
        }

        .accordion-body {
            @include interregular;
            @include smallFont;
            color: $darkGray;
            line-height: 2;
        }

        .accordion-button {
            @include intersemibold;
            @include smallFont;
            color: $black;

            &:focus {
                box-shadow: unset;
                //border-bottom: unset;
            }

            &:after {
                content: "";
                background: url("../images/plus-sign.png") no-repeat;
                width: 12px;
                height: 12px;
                background-size: 100%;
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
            }

            &:not(.collapsed) {
                background-color: unset;
                color: $red;
                box-shadow: unset;

                &:after {
                    content: "";
                    background: url("../images/minus-sign.png") no-repeat;
                    width: 12px;
                    height: 12px;
                    background-size: 100%;
                    -webkit-transition: 0.5s ease-in-out;
                    -moz-transition: 0.5s ease-in-out;
                    -o-transition: 0.5s ease-in-out;
                    transition: 0.5s ease-in-out;
                    filter: invert(10%) sepia(92%) saturate(7457%)
                        hue-rotate(350deg) brightness(103%) contrast(90%);
                }
            }
        }
    }
}

.mc4wp-response {
    position: absolute !important;
    width: 100% !important;
}
