.member_home {
    @include interregular;
    text-align: center;
    padding-bottom: 40px;
    margin: 40px 0;

    .top_section {
        display: flex;
        align-items: flex-start;
        float: none;
        margin: 0;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;

        @include media($tablet) {
            gap: 20px;
        }

        .video_column {
            width: 55%;
            margin-bottom: auto;
            padding-right: 20px;

            @include media($desktop) {
                width: 100%;
            }

            .video_wrapper {
                border-radius: 8px;

                iframe {
                    border-radius: 8px;
                    border: none;
                }
            }
        }

        .text_column {
            text-align: left;
            padding: 0 20px;
            width: 45%;
            margin-bottom: auto;

            @include media($desktop) {
                width: 100%;
            }

            span {
                color: $red;
            }

            h3 {
                @include intersemibold;
                line-height: 1.6;
                font-size: 3rem;
                margin: 0 0 10px;
            }

            p,
            a {
                @include smallFont;
                color: $darkGray;
            }

            p {
                margin-bottom: 20px;
                line-height: 2;

                span {
                    @include interbold;
                }
            }

            a {
                @include interregular;
                position: relative;

                &:hover {
                    color: $darkRed;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                margin-bottom: 30px;

                li {
                    position: relative;
                    margin-bottom: 10px;
                    padding-left: 35px;

                    &:before {
                        content: "";
                        background: url("../images/check.png") no-repeat;
                        position: absolute;
                        background-size: 100%;
                        width: 20px;
                        height: 20px;
                        left: 0;
                        top: 5px;
                    }
                }
            }

            .bottom_text {
                p {
                    margin: 0;
                }
            }
        }
    }

    .bottom_section {
        margin-top: 20px;

        h3 {
            @include interbold;
            font-size: 2.6rem;
            text-align: left;
            padding-bottom: 5px;

            @include media($mobile) {
                text-align: center;
            }
        }

        .content_wrap {
            display: flex;
            width: 100%;
            gap: 10rem;

            @include media($desktop) {
                gap: 0;
                justify-content: space-between;
            }

            @include media($tablet) {
                gap: 4rem;
            }

            @include media($mobile) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .icon_wrap {
            width: 4rem;

            &.forums {
                width: 5rem;
            }
        }

        .info_wrap {
            position: relative;
            padding: 0;
            text-align: left;
            display: flex;

            .column_text {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-bottom: 5px;
                color: $black;
                padding: 0 15px;

                @include media($mobile) {
                    justify-content: center;
                }
            }

            a {
                color: $black;
                position: relative;
                margin-right: 20px;
                font-size: 1.6rem;
                padding-bottom: 5px;
                border-bottom: 1px solid $darkerGray;

                @include media($desktop) {
                    font-size: 1.5rem;
                }

                @include media($tablet) {
                    font-size: 1.4rem;
                    margin-bottom: 8px;
                    padding-bottom: 2px;
                    display: inline-block;
                }

                &:hover {
                    color: $darkRed;
                    border-bottom: 1px solid $darkRed;
                }

                &:first-child::after {
                    content: "|";
                    position: absolute;
                    right: -14px;
                    top: -3px;
                    font-size: 0.9rem;

                    @include media($tablet) {
                        content: "";
                    }
                }
            }

            h4 {
                @include interbold;
                margin: 0;
                font-size: 1.8rem;
                line-height: 1;

                @include media($desktop) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.fb_iframe_widget > span {
    max-width: 100%;

    iframe {
        max-width: 100%;
        width: 100% !important;
    }
}
