.simplefavorite-button {
    @include interregular;
    border: none;
    opacity: 1 !important;
    padding: 5px 10px;
    font-size: 1.5rem;
    float: left;
    border-radius: 4px;

    @include media($desktop) {
        font-size: 1vw;
    }

    @include media($tablet) {
        font-size: 1.4rem;
        padding: 5px;
    }

    &:hover {
        background: $yellowHover !important;
    }

    &.active:hover {
        background: $yellow !important;
        color: $black !important;

        i {
            color: $black !important;
        }
    }
}

.lessons_page {
    position: relative;

    .top_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        h3 {
            font-size: 18px;
            float: left;
            margin: 0;
        }

        .simplefavorites-clear {
            @include intersemibold;
            font-size: 14px;
            color: $red;
            border: none;
            padding: 0;
            background: none;
            text-transform: uppercase;
            padding-bottom: 5px;
            border-bottom: 2px solid $red;

            &:hover {
                color: $darkRed;
                border-bottom: 2px solid $darkRed;
            }
        }

        button[disabled="disabled"] {
            color: $lightGray;
            text-decoration: none;

            &:hover {
                color: $lightGray;
            }
        }
    }

    #video_player {
        opacity: 0;
        z-index: -999;
        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        transition: 1s ease-in-out;

        &.open {
            opacity: 100%;
            z-index: 999;
            overflow-y: scroll;
        }
    }

    #video_player,
    .course_video_player {
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;

        @include media($desktop) {
            overflow-y: scroll;
        }

        &.scroll {
            .video_iframe_wrap {
                position: fixed;
                max-width: 300px;
                left: 13.3%;
                top: 40px;
                z-index: 1;
                animation-name: changeOpacity;
                animation-duration: 1s;
                animation-iteration-count: 1;

                @include media($smallMobile) {
                    left: unset;
                    top: 20px;
                    max-width: 86%;
                }
            }

            .bottom_row,
            .description {
                opacity: 0;
                z-index: -999;
                position: relative;
            }
        }

        @keyframes changeOpacity {
            from {
                opacity: 0;
            }
            to {
                opacity: 100%;
            }
        }

        #close_video {
            position: absolute;
            z-index: 999;
            right: 2%;
            top: 3%;
            background: url("../images/close-icon.png") no-repeat;
            background-size: 100%;
            padding: 30px;

            @include media($mobile) {
                padding: 22px;
                top: 1.5%;
            }

            @include media($smallMobile) {
                top: 1%;
                right: 2%;
                padding: 18px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .lesson_content_wrap {
            display: flex;
            margin: auto;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5% 0;

            @include media($mobile) {
                padding: 15% 0;
            }
        }

        .content_wrap {
            position: relative;
            padding: 0 40px;
            width: 80%;

            @include media($mobile) {
                padding: 0 25px;
                width: 100%;
            }
        }

        .lesson_title {
            text-align: center;
            color: $white;
            padding: 15px;

            h3 {
                margin: 0;
            }
        }

        .description {
            padding: 20px;
            color: $white;
            background: $darkerGray;

            ul {
                list-style: unset;
            }

            p {
                line-height: 1.6;

                @include media($tablet) {
                    font-size: 18px;
                }

                @include media($mobile) {
                    font-size: 16px;
                }
            }
        }

        .replace_link {
            padding: 10px 0;
            text-align: center;
            margin: 0;
            color: $white;

            @include media($smallMobile) {
                text-align: right;
            }

            a {
                @include interbold;
                font-size: 16px;
                color: $red;

                @include media($mobile) {
                    font-size: 14px;
                }
            }
        }

        .button_wrap {
            @include media($tablet) {
                width: 100%;
                text-align: center;
            }
        }

        .video_iframe_wrap {
            @include span-columns(7);
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            animation-name: changeOpacity;
            animation-duration: 1s;
            animation-iteration-count: 1;

            @media all and (max-width: 1400px) {
                width: 100%;
                margin: 0 auto;
                float: unset;
            }

            .bottom_row {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                justify-content: flex-start;
                -webkit-justify-content: flex-start;
                align-items: center;
                -webkit-align-items: center;
                padding: 20px 0;
                gap: 5rem;

                @include media($tablet) {
                    gap: 2rem;
                    flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    text-align: center;
                }

                .links_wrap {
                    width: auto;
                    display: flex;
                    gap: 30px;

                    @include media($tablet) {
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        gap: 20px;
                    }

                    @include media($mobile) {
                        flex-direction: column;
                        flex-wrap: wrap;
                        gap: 0;
                    }

                    a {
                        color: $white;
                        position: relative;
                        padding-left: 20px;

                        @include media($mobile) {
                            font-size: 14px;
                        }

                        &:hover {
                            color: $yellow;
                        }

                        &:before {
                            content: "";
                            background: url("../images/pdf-icon.png") no-repeat;
                            background-size: 100%;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            left: -20px;
                            top: -6px;
                        }
                    }

                    .column:first-child {
                        @include media($mobile) {
                            margin-bottom: 20px;
                        }
                    }
                }

                .button_wrap {
                    @include media($tablet) {
                        width: 100%;
                    }

                    button {
                        @include media($tablet) {
                            float: unset;
                        }
                    }
                }
            }
        }

        .video_content_wrap {
            @include span-columns(5);
            max-height: 600px;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-top: 0;
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            padding-right: 20px;

            @media all and (max-width: 1400px) {
                width: 100%;
                max-height: unset;
                overflow-y: auto;
            }
        }
    }

    .videos_wrap {
        @include span-columns(12);

        .column {
            padding: 20px;

            @include media($tablet) {
                padding: 15px;
            }

            @include media($mobile) {
                padding: 10px;
            }

            .vid_image_wrap {
                position: relative;

                img {
                    border-radius: 8px;

                    @include media($tablet) {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }

                .simplefavorite-button {
                    position: absolute !important;
                    right: 0;
                    bottom: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 7px;

                    @include media($tablet) {
                        position: relative !important;
                        right: auto;
                        bottom: auto;
                        width: 100%;
                        float: unset;
                        border-top-right-radius: 0;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }
                }

                a:not(.video_files) {
                    display: block;

                    &:before {
                        content: "";
                        text-align: center;
                        background: url("../images/play-button2.png") no-repeat;
                        background-size: 20%;
                        background-position: center center;
                        background-color: rgba(0, 0, 0, 0.3);
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        border-radius: 8px;
                    }

                    &:not(.button) {
                        box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.4);

                        &:hover:before {
                            content: "";
                            background-color: rgba(0, 0, 0, 0.8);
                        }
                    }
                }

                &.all_courses {
                    a:not(.video_files) {
                        &:before {
                            content: none;
                        }
                        &:hover {
                            &:before {
                                content: "";
                                text-align: center;
                                background: url("../images/go-arrow.png")
                                    no-repeat;
                                background-size: 20%;
                                background-position: center center;
                                background-color: rgba(0, 0, 0, 0.6);
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                top: 0;
                                left: 0;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }

            .comment_wrap {
                display: none;
            }

            h4 {
                @include interregular;
                margin: 4px 0;
                font-size: 14px;
                line-height: 1.2;

                @include media($smallMobile) {
                    font-size: 12px;
                }
            }

            p {
                line-height: 1.2;
                font-size: 14px;
                margin: 0;
                color: $grayText;

                @include media($smallMobile) {
                    font-size: 12px;
                }
            }
        }
    }

    .filter_controls {
        @include span-columns(12);
        padding: 20px;
        margin-bottom: 20px;

        .search_box {
            @include span-columns(12);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: auto;
            margin-bottom: auto;

            form {
                width: 100%;

                input {
                    width: 100%;
                    height: 45px;
                    padding: 0 10px;
                    font-size: 16px;
                    -webkit-border-radius: 50px !important;
                    -moz-border-radius: 50px !important;
                    border-radius: 50px !important;
                    background: #fff url(../images/icon-search.png) no-repeat !important;
                    background-size: 22px !important;
                    background-position: 98% 50% !important;
                    color: $darkGray;
                    border: 2px solid $darkGray;

                    @include media($mobile) {
                        height: 40px;
                        background-size: 18px;
                    }
                }
            }
        }

        .filters {
            @include span-columns(12);
            position: relative;
            margin-bottom: 20px;

            @include media($tablet) {
                overflow-x: scroll;
                padding-bottom: 20px;
            }

            p {
                font-size: 1.2rem;
                margin: 0;
                color: $grayText;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 2.8rem;
                @include interbold;
                margin: 0;
            }
        }

        .filter_list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;

            @include media($tablet) {
                min-width: 1500px;
                float: unset;
            }

            li {
                font-size: 14px;
                cursor: pointer;
                color: $white;
                padding: 8px 18px;
                background: $darkGray;
                border-radius: 50px;

                &:hover,
                &.active {
                    color: $black;
                    background: $yellow;
                }
            }
        }
    }

    .shuffle-container {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .js-shuffle-sizer {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }

        .column {
            flex-basis: 25%;
            float: left;
            min-height: 320px;
            max-width: 25%;

            @include media($desktop) {
                min-height: 290px;
            }

            @include media($tablet) {
                flex-basis: 33%;
                max-width: 33%;
            }

            @include media($mobile) {
                flex-basis: 50%;
                max-width: 50%;
                min-height: 300px;
            }

            @include media($smallMobile) {
                flex-basis: 100%;
                max-width: 100%;
                min-height: unset;
            }
        }

        .text_wrap {
            text-align: center;
            margin: 10% 0 15%;

            @include media($mobile) {
                margin: 5% 0 15%;
            }

            h2 {
                width: 100%;
                float: left;
                border: none;
                text-transform: uppercase;
            }

            .button {
                padding: 10px 50px 10px 20px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    background: url(../images/white-arrow.png) no-repeat;
                    width: 28px;
                    height: 12px;
                    right: 12px;
                    z-index: 1;
                    top: 16px;
                    background-size: 100%;

                    @include media($mobile) {
                        top: 14px;
                        width: 25px;
                        right: 13px;
                    }
                }
            }
        }

        .lesson_content {
            padding-top: 10px;

            p {
                color: $red;
                margin-top: 10px;
            }
        }
    }

    &.free_lessons {
        .free_lessons_section {
            color: $white;
        }

        .filter_controls {
            .search_box input {
                background-color: $black;
                color: $white;
            }
        }

        .filters h3 {
            color: $white;
        }

        #video_player {
            .content_wrap {
                display: flex;
                margin-bottom: 40px;
                flex-wrap: wrap;

                @media all and (max-width: 1400px) {
                    flex-wrap: wrap;
                }
            }

            .video_iframe_wrap {
                @include span-columns(10);

                @media all and (max-width: 1400px) {
                    width: 100%;
                    margin-right: 0;
                    order: 1;
                }

                @include media($desktop) {
                    max-width: unset;
                }

                .bottom_row {
                    display: none;
                }
            }

            .video_content_wrap {
                @include span-columns(2);
                max-height: unset;
                overflow-y: auto;
                overflow-x: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-right: 0;

                @media all and (max-width: 1400px) {
                    flex-direction: column-reverse;
                    width: 100%;
                    order: 3;
                }

                .call_to_action {
                    @media all and (max-width: 1400px) {
                        margin-top: 20px;
                    }

                    h3 {
                        @media all and (max-width: 1400px) {
                            margin: 0;
                        }
                    }

                    .button {
                        @media all and (max-width: 1400px) {
                            width: 42rem;
                            margin: 10px auto 0;
                        }

                        @include media($smallMobile) {
                            width: 100%;
                        }
                    }
                }
            }

            .description {
                width: 100%;
                margin-top: 40px;

                @media all and (max-width: 1400px) {
                    order: 2;
                }
            }
        }

        .social_button_wrap {
            a {
                padding: 8px 20px;
                display: inline-block;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                color: $white;
                text-transform: uppercase;

                @include media($smallMobile) {
                    display: block;
                    padding: 6px 15px;
                    font-size: 14px;
                }

                img {
                    float: left;
                    margin-right: 10px;

                    @include media($smallMobile) {
                        margin-right: 8px;
                        display: inline-block;
                        float: none;
                    }
                }
            }

            .facebook {
                background: #3b5998;

                &:hover {
                    background: #2b406e;
                }

                img {
                    width: 8px;
                    padding-top: 2px;

                    @include media($smallMobile) {
                        width: 6px;
                        padding-top: 5px;
                    }
                }
            }

            .email {
                background: #7d7d7d;

                &:hover {
                    background: #606060;
                }

                img {
                    width: 20px;
                    padding-top: 3px;

                    @include media($smallMobile) {
                        width: 15px;
                        padding-top: 6px;
                    }
                }
            }

            .page {
                background: $red;

                &:hover {
                    background: #bc0a20;
                }

                img {
                    width: 22px;

                    @include media($smallMobile) {
                        width: 18px;
                        padding-bottom: 3px;
                        vertical-align: middle;
                    }
                }
            }
        }

        .videos_wrap {
            .column {
                h4 {
                    color: $grayText;
                }
                .vid_image_wrap {
                    border: 1px solid $white;
                    border-radius: 4px;
                }
            }
        }

        .shuffle-container .lesson_content p {
            color: $darkModeRed;
        }
    }
}

#comments {
    @include span-columns(12);
    position: relative;
    padding-bottom: 20px;
    text-align: left;

    .comments-title {
        display: none;
    }

    ol {
        @include span-columns(12);
        padding-left: 0;
        margin-left: 0;
        list-style: none;
        margin: 0;

        textarea {
            background: $black;
            color: $white;
        }

        .comment_reply_wrap {
            textarea {
                background: $white !important;
                color: $black;
                border: 1px solid $black;
            }
        }

        li {
            @include span-columns(12);
            margin-bottom: 20px;

            .children {
                @include span-columns(12);
                padding-left: 6.7%;
                margin-top: 5px;

                li {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .comment-content {
        width: 100%;

        .comment_heading {
            .reply_button {
                @include intersemibold;
                font-size: 1.5rem;
                text-transform: uppercase;
                -webkit-transition: 0.7s ease-in-out;
                -moz-transition: 0.7s ease-in-out;
                -ms-transition: 0.7s ease-in-out;
                -o-transition: 0.7s ease-in-out;
                transition: 0.7s ease-in-out;
            }
        }
    }

    .comment-meta {
        @include span-columns(2);
        padding: 5px;
        margin-right: 15px;
        max-width: 60px;

        @include media($smallMobile) {
            margin-right: 2%;
            width: 20%;
        }

        .comment-author {
            padding: 1px;
            background: $lightGray;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            overflow: hidden;
            justify-self: flex-end;

            img {
                border-radius: 100%;
                object-fit: cover;
                object-position: center;
                height: 100%;
            }
        }
    }

    .comment-reply-title {
        color: $white;

        span {
            font-size: 1.3rem;

            @include media($mobile) {
                font-size: 1.2rem;
            }
        }
    }

    .comment_reply_wrap {
        #reply-title {
            margin: 0;
            color: $black;
        }
    }

    .comment-content {
        width: 100%;
        float: left;
        display: block;
        position: relative;
        text-align: center;
        border-radius: 8px;

        .comment_heading {
            color: $red;
            text-align: left;
            display: flex;
            justify-content: flex-start;
        }

        > p {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .video_embed {
            width: 100%;
            display: inline-block;
            margin: 20px auto 0;
            padding: 0 20px;
        }

        .comment-metadata {
            width: 100%;
            padding-top: 5px;
            font-size: 10px;
            line-height: 1.2;
            background: $lightGray;

            a:not(.button) {
                float: left;
                width: 100%;
                color: $red;

                @include media($mobile) {
                    font-size: 1rem;
                }
            }

            .fn {
                @include interbold;
                float: left;
                line-height: 1.1;
                font-size: 1.3rem;

                @include media($mobile) {
                    font-size: 1.2rem;
                }
            }

            .top_section {
                display: flex;
                justify-content: space-between;
                padding: 10px;
                border-bottom: 1px solid $borderGray;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    left: -7px;
                    top: 12px;
                    border-top: 0 solid #fff;
                    border-left: 15px solid #fff;
                    border-bottom: 15px solid transparent;
                    transform: rotate(-45deg);
                    border-radius: 2px;
                }

                .left_col {
                    @include media($mobile) {
                        width: 50%;
                    }
                }

                .right_col {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    @include media($mobile) {
                        width: 50%;
                    }
                }
            }

            .bottom_section {
                color: $darkGray;
                padding: 10px 10px 20px 10px;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;

                p {
                    font-size: 1.5rem;
                }

                .edit-link {
                    width: 100%;
                    float: left;
                    text-align: right;
                    display: block;

                    a {
                        width: auto;
                        float: right;
                    }
                }

                .button_wrap {
                    .button {
                        margin-left: auto;
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    #respond {
        @include span-columns(12);

        .logged-in-as {
            display: none;
        }
    }

    .comment_submit {
        float: left;

        @media all and (max-width: 1500px) {
            width: 100%;
        }

        &:before {
            content: "";
            background: url("../images/arrow-right.svg") no-repeat;
            opacity: 0%;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            width: 0;
            position: absolute;
            right: 8px;
            height: 25px;
        }

        input {
            @include basicButton;
            padding: 10px !important;
            border: none;
            background: $yellow;
            color: $black;
            width: 18rem;
            margin-top: 5px;

            @include media($smallMobile) {
                width: 100%;
            }

            &:hover {
                background: #c4a020;
            }
        }

        &:hover {
            &:before {
                content: "";
                background: url("../images/arrow-right.svg") no-repeat;
                position: absolute;
                right: 8px;
                height: 25px;
                opacity: 100%;
                width: 30px;
            }
        }

        .loading_gif {
            float: left;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            margin-top: 8px;
            text-align: center;
            display: none;

            @include media($mobile) {
                width: 15px;
                height: 15px;
                margin-top: 6px;
            }
        }
    }

    .comment_reply_wrap {
        width: 100%;
        float: left;
        margin-top: 0;
        padding: 0;
        position: relative;
        border-radius: 6px;
        background: $white;
        max-height: 0;
        -webkit-transition: 0.7s ease-in-out;
        -moz-transition: 0.7s ease-in-out;
        -ms-transition: 0.7s ease-in-out;
        -o-transition: 0.7s ease-in-out;
        transition: 0.7s ease-in-out;
        opacity: 0;

        .comment-respond {
            .comment_submit {
                input[type="submit"] {
                    width: 13rem;
                    padding: 10px !important;
                    font-size: 1.3rem;
                    margin-top: 0;

                    @media all and (max-width: 1500px) {
                        width: 100%;
                    }
                }
            }
        }

        .cancel_comment {
            display: inline-block;
            position: absolute;
            bottom: 16px;
            right: 15px;

            @media all and (max-width: 1500px) {
                width: 100%;
                bottom: 0;
                right: auto;
                margin-top: 10px;
                position: relative;
            }

            .button {
                background: $white;
                width: 10rem;
                padding: 10px;
                font-size: 1.3rem;

                @media all and (max-width: 1500px) {
                    width: 100%;
                }

                &:hover {
                    background: $black;
                    color: $white;
                }
            }
        }

        &.open {
            max-height: 1000px;
            margin-top: 20px;
            padding: 15px;
            opacity: 100%;
            z-index: 0;
        }

        #reply-title {
            color: $black;
        }
    }
}

.comment-respond,
.comment_reply_wrap {
    h3 {
        margin-top: 0;
        font-size: 20px !important;
        text-align: left;

        @include media($tablet) {
            font-size: 18px !important;
        }

        @include media($mobile) {
            font-size: 16px !important;
        }
    }

    form {
        @include span-columns(12);
        text-align: left;

        .comment-form-comment {
            @include span-columns(12);

            label {
                display: none;
            }

            textarea {
                @include span-columns(12);
                height: 100px;
            }
        }
    }
}

.comment-awaiting-moderation {
    @include interbold;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: $yellow;
    line-height: 1.6;
    padding: 20px;
    font-size: 1.6rem;
}

#respond #comment-form-identity {
    display: none !important;
}

#commentform iframe {
    height: 230px !important;
}

.lessons_page.courses {
    .course_video_player {
        margin-top: 20px;
        position: relative;

        @include media($mobile) {
            margin-top: 40px;
        }

        &.open {
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                border-bottom: 30px solid;
                border-bottom-color: #373839;
                top: -22px;
                left: 50%;
                margin-left: -20px;
                z-index: -1;
            }
        }
    }

    .row {
        padding: 40px 0;
        border-bottom: 1px solid $darkGray;

        &:first-child {
            padding-top: 0;
        }

        &.open_player {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .column {
            @include span-columns(6);
            text-align: left;

            @include media($mobile) {
                @include span-columns(4);
                padding: 0;
            }

            &:last-child {
                padding-left: 40px;

                @include media($mobile) {
                    padding-left: 0;
                }
            }

            a {
                text-transform: uppercase;
                display: inline-block;
            }

            h1 {
                margin-top: 0;
                font-size: 28px;
                margin-bottom: 5px;
                line-height: 1.2;

                @include media($tablet) {
                    font-size: 26px;
                }

                @include media($mobile) {
                    margin-top: 10px;
                }

                a {
                    color: $black;
                }
            }

            h4 {
                margin: 5px 0;
                font-size: 12px;

                a {
                    color: $black;
                    text-decoration: underline;
                }

                &.sub_title {
                    font-size: 18px;
                }
            }

            p {
                @include media($tablet) {
                    font-size: 14px;
                }
            }

            .button_wrap {
                margin-top: 20px;
                float: left;

                @include media($smallMobile) {
                    @include span-columns(4);
                }

                .button {
                    padding: 10px 30px;

                    @include media($smallMobile) {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }

        &:last-child {
            border-bottom: 1px solid $darkGray;
        }
    }
}

.video_container {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.metro_wrap {
    width: 500px;
    height: 600px;
}

.banner_wrap {
    margin-bottom: 40px;
    padding: 60px 0;
    background: $darkBg;

    @include media($mobile) {
        margin: 20px 0;
        padding: 30px 0;
    }

    .button {
        margin: 0 auto;
        margin-top: 40px;
        border: none;
        -webkit-transition: 0.7s ease-in-out;
        -moz-transition: 0.7s ease-in-out;
        -ms-transition: 0.7s ease-in-out;
        -o-transition: 0.7s ease-in-out;
        transition: 0.7s ease-in-out;
    }

    h3,
    p {
        color: $white;
    }

    .title_wrap {
        @include span-columns(12);
        padding: 10px;

        h3 {
            @include interbold;
            font-size: 3rem;
            margin: 0;
            width: 100%;
            margin-bottom: 30px;
        }
    }

    ul {
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        padding-left: 0;

        @include media($tablet) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media($mobile) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        li {
            &:last-child {
                @include media($tablet) {
                    display: none;
                }
            }

            &:nth-child(3) {
                @include media($mobile) {
                    display: none;
                }
            }

            a {
                @include interregular;
                color: $grayText;
                display: block;

                &:not(.image_link) {
                    margin-top: 15px;
                }
            }

            a.image_link {
                position: relative;
                display: block;
                width: 100%;

                img {
                    border-radius: 4px;
                }

                p {
                    @include interregular;
                    color: $black;
                    position: absolute;
                    bottom: -33px;
                    left: 1px;
                    font-size: 1.5rem;
                }

                &:hover {
                    cursor: pointer;

                    &:before {
                        content: "";
                        background: url("../images/go-arrow.png") no-repeat;
                        background-position: center center;
                        background-size: 20%;
                        background-color: rgba(0, 0, 0, 0.8);
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

.lessons_page.courses {
    .banner_wrap {
        color: $white;

        ul {
            display: block;
            list-style: unset;
            padding-left: 2rem;
        }
    }
}
