.passions {
    .top_section {
        h3 {
            @include intersemibold;
            margin-bottom: 20px;
            display: inline-block;
        }

        p {
            color: $grayText;
        }

        .text_wrap {
            border-bottom: 1px solid $darkGray;
            padding-bottom: 60px;
        }
    }

    .columns_wrap {
        display: grid;
        width: 100%;
    }

    .photo_section {
        padding: 80px 0;
        text-align: center;

        @include media($tablet) {
            padding: 30px 0;
        }

        .columns_wrap {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
            column-gap: 40px;
            row-gap: 60px;
        }

        h2 {
            text-align: left;
            margin-bottom: 30px;
        }

        &.bass_players {
            background: $white;

            h2 {
                color: $black;
            }

            .columns_wrap {
                grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
                row-gap: 20px;
            }
        }

        .image_wrap {
            position: relative;
            border: 1px solid $borderGray;
            margin-bottom: 15px;
            border-radius: 4px;

            img {
                border-radius: 4px;
            }

            a {
                &:hover::before {
                    content: "";
                    background: url("../images/go-arrow.png") no-repeat;
                    background-position: center center;
                    background-size: 10%;
                    background-color: rgba(0, 0, 0, 0.8);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    z-index: 1;
                    left: 0;
                    top: 0;
                }
            }
        }

        .text_wrap {
            a {
                font-size: 1.3rem;
                color: $red;
            }

            p {
                @include intersemibold;
                color: $black;
            }
        }
    }
}
