.join_text {
    @include interbold;
    text-align: center;
    color: $black;
    margin-top: 40px;

    a {
        text-transform: uppercase;
        color: $red;
    }
}

.pmpro_lost_password_wrap .pmpro_actions_nav {
    display: none;
}
.pm_pro {
    .pmpro_card {
        margin: 0 !important;

        .pmpro_card_content {
            padding: 0 !important;
        }
    }
}

#password-lost-form-wrap a {
    color: $red;
    font-size: 18px;
    width: 100%;
    float: left;
}

.confirmation_page {
    margin: 100px 0;
    background: $lightGray;
    padding: 40px 40px 80px;
    text-align: center;
    -webkit-box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.14);
    box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.14);
    border: 1px solid $borderGray;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    @include media($tablet) {
        padding: 30px 30px 70px;
    }

    @include media($mobile) {
        margin: 40px 0;
        padding: 20px 20px 40px;
    }

    .heading {
        font-size: 20px;
        margin-bottom: 20px;

        @include media($mobile) {
            font-size: 18px;
        }

        span {
            color: $red;
        }
    }

    .button_wrap {
        margin-top: 20px;
    }

    ul {
        margin-top: 60px;
        display: inline-block;

        @include media($mobile) {
            margin-top: 40px;
        }

        li {
            @include span-columns(12);
            float: none;
            background: $white;
            padding: 12px 30px;
            margin-bottom: 20px;

            @include media($mobile) {
                font-size: 14px;
                width: 100%;
            }

            p {
                margin: 0;
                display: inline-block;
            }

            span {
                display: inline-block;
                color: $red;

                @include media($mobile) {
                    width: 100%;
                }
            }
        }
    }
}

#pmpro_levels {
    width: 100%;
    float: left;
    margin-top: -50px;

    @include media($mobile) {
        margin-top: 0;
    }

    .pmpro_card_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        color: $black;
        text-align: center;
        gap: 40px;
        padding-bottom: 100px;
        padding-top: 50px !important;

        @include media($desktop) {
            gap: 20px;
        }

        @include media($tablet) {
            flex-wrap: wrap;
        }

        @include media($mobile) {
            padding-top: 0 !important;
        }
    }

    .column {
        width: 25%;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        border-radius: 6px;

        .column_content {
            width: 100%;
            float: left;
            border: 1px solid $red;
            border-radius: 6px;
        }

        @include media($tablet) {
            width: 48%;
            margin-bottom: 40px;
        }

        @include media($smallMobile) {
            width: 100%;
            margin-bottom: 0;
        }

        .column_heading {
            background: $red;
            color: $white;
            padding: 15px;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;

            h2 {
                @include interbold;
                font-size: 2.2rem;
                margin-top: 0;

                @include media($desktop) {
                    font-size: 2rem;
                }
            }

            p {
                @include interregular;
                font-size: 1.7rem;
                margin: 0;

                @include media($desktop) {
                    font-size: 1.4rem;
                }

                span {
                    @include interbold;
                }
            }
        }

        &:nth-child(3) {
            .column_content {
                border: 1px solid $yellow;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            .column_heading {
                background: $yellow;
                color: $black;
                border-radius: 0;
            }
        }
    }

    .highlight {
        width: 100%;
        text-align: center;
        background: $darkerGray;
        padding: 10px 0;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        margin-top: -44px;

        @include media($smallMobile) {
            margin-top: 0;
        }

        img {
            width: auto;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 5px;
        }

        p {
            @include intermedium;
            display: inline-block;
            margin: 0;
            font-size: 18px;
            vertical-align: top;
            color: $yellow;

            @include media($desktop) {
                font-size: 1.6vw;
            }

            @include media($tablet) {
                font-size: 1.6rem;
            }
        }
    }

    .cost {
        padding: 30px 20px;

        h3 {
            @include interbold;
            display: inline-block;
            font-size: 30px;
            margin: 20px 0;
        }

        p {
            @include interregular;
            font-size: 1.5rem;
            color: $grayText;
            margin-bottom: 0;
            line-height: 1.2;
        }
    }

    .button_wrap {
        margin-top: 20px;
        padding: 0 20px 20px 20px;

        a {
            width: 100%;
        }

        .pmpro_btn.disabled {
            background: $yellowHover;
        }
    }

    .description {
        padding: 0 20px;

        @include media($desktop) {
            padding: 0 10px;
        }

        ul {
            margin: 0;
            text-align: left;
            color: $black;
            padding: 0;
            max-width: 85%;
            margin: 0 auto;

            @include media($desktop) {
                max-width: 100%;
            }

            @include media($tablet) {
                display: inline-block;
            }

            li {
                position: relative;
                padding-left: 50px;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    content: "";
                    position: absolute;
                    background: url("../images/check.png") no-repeat;
                    width: 20px;
                    height: 15px;
                    left: 15px;
                    top: 5px;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
