.join_text {
    @include interbold;
    text-align: center;
    color: $black;
    margin-top: 40px;

    a {
        text-transform: uppercase;
        color: $red;
    }
}

.pmpro_lost_password_wrap .pmpro_actions_nav {
    display: none;
}
.pm_pro {
    .pmpro_card {
        margin: 0 !important;

        .pmpro_card_content {
            padding: 0 !important;
        }
    }
}

#lostpasswordform {
    margin-top: 20px;
    margin-bottom: 20px;
}

#password-lost-form-wrap a {
    color: $red;
    font-size: 18px;
    width: 100%;
    float: left;
}

.confirmation_page {
    background: $lightGray;
    @include boxShadow;
    padding: 40px;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    max-width: 1200px;
    margin: 0 auto;
    float: none;

    @include media($mobile) {
        padding: 20px;
    }

    .heading {
        @include intersemibold;
        margin-bottom: 20px;
        line-height: 1.8;
        text-transform: uppercase;

        span {
            color: $red;
        }
    }

    .button_wrap {
        margin-top: 20px;
        float: none;

        .button:not(.ed_button):not([type=checkbox]) {
            margin: 0 auto;

            &.black.light_bg:hover {
                background: $red;
                color: $white;
            }
        }
    }

    ul {
        margin-top: 60px;
        display: inline-block;
        margin-left: 0;
        padding: 0;

        @include media($mobile) {
            margin-top: 40px;
        }

        li {
            @include span-columns(12);
            float: none;
            background: $white;
            padding: 12px 30px;
            margin-bottom: 20px;

            @include media($mobile) {
                font-size: 14px;
                width: 100%;
            }

            p {
                margin: 0;
                display: inline-block;
            }

            span {
                display: inline-block;
                color: $red;

                @include media($mobile) {
                    width: 100%;
                }
            }
        }
    }
}

#pmpro_levels {
    width: 100%;
    float: left;
    margin-top: -50px;

    @include media($mobile) {
        margin-top: 0;
    }

    .pmpro_card_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        color: $black;
        text-align: center;
        gap: 40px;
        padding-bottom: 100px;
        padding-top: 50px !important;
        padding-left: 15px;
        padding-right: 15px;

        @include media($desktop) {
            gap: 20px;
        }

        @include media($tablet) {
            flex-wrap: wrap;
        }

        @include media($mobile) {
            padding-top: 20px !important;
        }


        .column {
            width: 25%;
            float: left;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            border-radius: 6px;
            @include boxShadow;

            .column_content {
                width: 100%;
                float: left;
                border-radius: 6px;
            }

            @include media($tablet) {
                width: 48%;
                margin-bottom: 40px;
            }

            @include media($smallMobile) {
                width: 100%;
                margin-bottom: 0;
            }

            .column_heading {
                background: $red;
                color: $white;
                padding: 15px;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;

                h2 {
                    @include interbold;
                    font-size: 2.2rem;
                    margin-top: 0;

                    @include media($desktop) {
                        font-size: 2rem;
                    }
                }

                p {
                    @include interregular;
                    font-size: 1.7rem;
                    margin: 0;

                    @include media($desktop) {
                        font-size: 1.4rem;
                    }

                    span {
                        @include interbold;
                    }
                }
            }

            &.col_highlight {
                .column_content {
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                }

                .column_heading {
                    background: $yellow;
                    color: $black;
                    border-radius: 0;
                }
            }
        }

        &.register {
            padding-top: 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;

            .column {
                @media screen and (max-width: 991px) {
                    margin-bottom: 0;
                }

                .column_content {
                    padding: 0 1px;

                    .column_heading {
                        border-radius: 6px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        padding: 10px;
                        background: unset;
                        border: 1px solid $red;
                    }
                }
            }
        }
    }

    .highlight {
        width: 100%;
        text-align: center;
        background: $darkerGray;
        padding: 10px 0;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        margin-top: -44px;

        @include media($smallMobile) {
            margin-top: 0;
        }

        img {
            width: auto;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 5px;
        }

        p {
            @include intermedium;
            display: inline-block;
            margin: 0;
            font-size: 18px;
            vertical-align: top;
            color: $yellow;

            @include media($desktop) {
                font-size: 1.6vw;
            }

            @include media($tablet) {
                font-size: 1.6rem;
            }
        }
    }

    .cost {
        padding: 30px 20px;

        h3 {
            @include interbold;
            display: inline-block;
            font-size: 30px;
            margin: 20px 0;
        }

        p {
            @include intersemibold;
            font-size: 1.5rem;
            margin: 0;
            line-height: 1.4;
        }
    }

    .button_wrap {
        margin-top: 20px;
        padding: 0 20px 20px 20px;

        a {
            width: 100%;
        }

        .pmpro_btn.disabled {
            background: $yellowHover;
            width: 100%;
        }
    }

    .description {
        padding: 0 20px;

        @include media($desktop) {
            padding: 0 10px;
        }

        ul {
            margin: 0;
            text-align: left;
            color: $black;
            padding: 0;
            max-width: 85%;
            margin: 0 auto;

            @include media($desktop) {
                max-width: 100%;
            }

            @include media($tablet) {
                display: inline-block;
            }

            li {
                position: relative;
                padding-left: 50px;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    content: "";
                    position: absolute;
                    background: url("../images/check.png") no-repeat;
                    width: 20px;
                    height: 15px;
                    left: 15px;
                    top: 5px;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
