.profile_wrap {
    @include span-columns(12);
    position: relative;

    .pmpro_form_fields {
        width: 100%;
        flex-direction: column;

        @include media($mobile) {
            gap: 0;
        }
    }

    .pmpro_message.pmpro_success {
        position: absolute;
        z-index: 1;
        right: 50%;
        text-align: center;
        transform: translateX(140px);
        -webkit-transform: translateX(140px);
        -ms-transform: translateX(140px);
        -o-transform: translateX(140px);
        -moz-transform: translateX(140px);
        font-size: 18px;
    }

    input {
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }

    .wpua-edit-container > h3,
    .wpua-edit p.submit,
    #wpua-thumbnail-existing {
        display: none;
    }

    .wpua-edit-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;

        @include media($mobile) {
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    #wpua-upload-button-existing {
        display: flex;
        flex-wrap: wrap;
        width: 86%;
        order: 2;

        @include media($mobile) {
            width: 66%;
        }

        @include media($smallMobile) {
            width: 100%;
        }

        .button {
            order: 3;
            margin-left: auto;
            margin-top: auto;
            background: $yellow;

            &:hover {
                background: $yellowHover;
            }

            @include media($mobile) {
                width: 100%;
            }
        }
    }

    #wpua-images-existing {
        width: 14%;
        padding-right: 30px;

        @include media($mobile) {
            padding-right: 0;
            width: 30%;
        }

        @include media($smallMobile) {
            width: 100%;
        }

        #wpua-preview-existing {
            width: 100%;

            img {
                object-position: center;
                object-fit: cover;
                max-height: 135px;
                border-radius: 6px;

                @include media($smallMobile) {
                    max-height: unset;
                }
            }

            .description {
                display: none;
            }
        }

        .button {
            padding: 0;
            width: auto;
            background: none;
            color: $red;
            font-size: 1.2rem;
            margin: 0 auto;

            &:hover {
                color: $darkRed;
            }
        }
    }

    #wpua-upload-messages-existing {
        @include interregular;
        font-size: 1.5rem;
        width: 32%;
        line-height: 1.4;

        @include media($tablet) {
            font-size: 1.1rem;
        }

        @include media($mobile) {
            width: 100%;
            font-size: 1.2rem;
            text-align: center;
        }

        code {
            @include interregular;
        }
    }

    .form_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px 0;
        @include boxShadow;
    }

    .pmpro_member_profile_edit_wrap {
        margin-bottom: 0;

        @include media($tablet) {
            padding-right: 0;
        }
    }

    .pmpro_form_label,
    .pmpro_form_input {
        color: $black;
    }

    input#wpua-file-existing {
        height: 80px;
        position: relative;

        @include media($mobile) {
            height: 65px;
            margin: 0;
        }

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: "";
            background: $white url("../images/upload-icon.png") no-repeat;
            background-size: 100px;
            background-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            @include media($mobile) {
                background-size: 80px;
            }
        }
    }

    /* input#wpua-file-existin .image_wrap {
        @include span-columns(6);

        @include media($mobile) {
            @include span-columns(4);
            line-height: 1.4;
        }

        label {
            @include interregular;
            color: $black;
            width: auto;
            float: left;
            font-size: 16px;
            margin-right: 10px;

            @include media($mobile) {
                font-size: 14px;
            }
        }

        input {
            border: none;
            float: left;
            width: auto;
            padding: 1px 0 0 0;
            height: auto;
            margin: 0;
            font-size: 16px;
            background: $white;
        }

        .description {
            @include span-columns(12);
            font-size: 13px;

            @include media($mobile) {
                font-size: 11px;
            }
        }
    } */

    form {
        @include span-columns(12);

        .pmpro_checkout-field {
            @include span-columns(12);
        }

        .pmpro_card_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 3rem;

            @include media($mobile) {
                gap: 0;
            }

            .pmpro_form_fieldset {
                border: 0;
                margin: 0;
                padding: 0;
                width: 48.8%;
                padding: 40px;
                border-radius: 6px;

                @include media($tablet) {
                    width: 48.5%;
                    padding: 20px;
                }

                @include media($mobile) {
                    width: 100%;
                }
            }

            .pmpro_cols-2 > * {
                width: 100%;
            }
        }

        .pmpro_form_submit {
            flex-basis: 100%;
            justify-content: space-between;
            padding: 0 20px;
            flex-wrap: nowrap;

            @include media($mobile) {
                margin-top: 0;
            }

            @include media($smallMobile) {
                flex-wrap: wrap;
            }
        }

        .pmpro_btn {
            @include basicButton;
            border: none;
            color: $black;

            &:hover {
                color: $black;
                background: $yellowHover;
            }

            &.pmpro_btn-cancel {
                color: $red;
                border: 1px;
                border-style: inset;
                border-color: $red;

                &:hover {
                    color: $black;
                    border-color: $black;
                    background: transparent;
                }
            }

            @include media($tablet) {
                padding: 6px 12px;
                font-size: 14px;
            }

            @include media($mobile) {
                padding: 7px 10px;
                font-size: 12px;
                width: 16rem;
            }

            @include media($smallMobile) {
                padding: 5px 8px;
                width: 100%;
            }
        }

        input[type="text"],
        input[type="email"],
        select,
        textarea {
            @include span-columns(12);
            max-width: unset !important;
            border: 1px solid $borderGray;

            @include media($mobile) {
                width: 100% !important;
            }
        }

        .pmpro_asterisk {
            display: none;
        }

        label {
            @include media($mobile) {
                font-size: 13px;
            }
        }

        .pmpro_member_profile_edit-field-hide_directory {
            display: none;
        }

        .pmpro_checkout_box-user,
        .pmpro_checkout_box-more-information {
            @include span-columns(6);

            @include media($mobile) {
                @include span-columns(4);
            }
        }

        .pmpro_checkout_box-more-information {
            margin-right: 0;

            > h2 {
                display: none;
            }
        }

        &.pmpro_form .pmpro_member_profile_edit-fields div {
            margin: 0;
        }

        #description_div {
            margin-top: 20px;

            textarea {
                padding: 10px;
                border: 1px solid $borderGray;
                border-radius: 6px;
            }
        }

        .pmpro_submit {
            @include span-columns(12);

            hr {
                display: none;
            }

            input {
                background-color: $red;
                color: $white;
                margin-bottom: 0;

                &:hover {
                    background-color: $darkRed;
                }

                &.pmpro_btn-cancel {
                    display: none;
                }
            }
        }

        input {
            height: 40px;
            margin-bottom: 20px;

            @include media($tablet) {
                margin-bottom: 10px;
            }

            @include media($mobile) {
                height: 35px;
                margin-top: 5px;
            }
        }

        select {
            background: $white;
            height: 55px !important;
            border: 1px solid $borderGray !important;
            border-radius: 6px !important;
        }

        .password {
            @include span-columns(12);
            margin-bottom: 20px;

            tbody {
                @include span-columns(12);

                tr {
                    @include span-columns(12);

                    label {
                        margin-bottom: 10px;
                    }

                    button {
                        background: #ddb72e;
                    }
                }
            }
        }
    }

    .avatar_upload {
        width: 100%;
        border-radius: 6px;
        padding: 40px;
        //border: 1px solid $borderGray;

        @include media($tablet) {
            padding: 20px;
        }

        .success {
            width: 100%;
            text-align: center;
        }

        /* #basic-user-avatar-form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            padding: 40px 40px 0;
            height: 100%;

            @include media($tablet) {
                padding-left: 0;
            }

            > img {
                max-width: 100px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
            }

            h3 {
                margin-bottom: 10px;
                margin-top: 0;
                font-size: 24px;
            }

            input[type="submit"] {
                @include interregular;
                font-size: 16px;
                padding: 7px 15px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                height: 40px;
                background: $red;
                color: $white;
                border: none;
                margin-bottom: 0;
                width: 150px;

                &:hover {
                    background: $darkRed;
                }

                @include media($mobile) {
                    @include span-columns(4);
                }
            }

            input[type="file"] {
                margin-bottom: 0;
                height: auto;
                margin-top: 10px;
            }

            input[type="checkbox"] {
                margin: 20px 0 0;
                height: auto;
                width: auto;
            }

            button {
                background: #aeabab;
                padding: 8px 5px;
                height: 40px;

                @include media($mobile) {
                    height: 35px;
                    padding: 8px 12px;
                    width: auto;
                }
            }
        } */
    }
}

#update-password {
    .pw-weak {
        text-align: left;
        float: left;

        input {
            height: auto;
        }
    }
    .button_wrap {
        float: right;
    }
}

.entry-meta {
    @include span-columns(12);
}
