.sidebar {
    @include span-columns(3);
    padding-top: 58px;

    @include media($tablet) {
        padding-top: 46px;
    }

    @include media($mobile) {
        @include span-columns(4);
        padding-top: 0;
    }

    .widget-title {
        @include intermedium;
        color: $white;
        padding: 15px;
        background: $black;
        font-size: 1.8rem;
        border-radius: 6px;
        margin: 0 0 5px 0;

        @include media($tablet) {
            font-size: 1.5rem;
        }
    }

    .widget {
        margin-bottom: 20px;
    }

    #bbp-search-form {
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            width: 100%;
        }

        input {
            height: 40px;
            margin: 0;
            border: none;

            @include media($tablet) {
                height: 25px;
            }
        }

        input[type="text"] {
            width: 70%;
            float: left;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-radius-bottomleft: 4px;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            -moz-border-radius-bottomright: 0;
            -moz-border-radius-topright: 0;
            -webkit-border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            border-top: 1px solid $darkGray;
            border-left: 1px solid $darkGray;
            border-bottom: 1px solid $darkGray;
        }

        .button {
            @include interregular;
            @include basicButton;
            border: none;
            width: 30%;
            padding: 4px 0 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            -moz-border-radius-bottomright: 4px;
            -moz-border-radius-topright: 4px;
            -moz-border-radius-bottomleft: 0;
            -moz-border-radius-topleft: 0;
            -webkit-border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -webkit-border-top-left-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            font-size: 1.2rem;

            @include media($tablet) {
                padding: 5px 2px 5px 0px;
            }
        }
    }

    label.screen-reader-text.hidden {
        display: none;
    }

    ul {
        padding: 15px;
        margin-left: 0;
        background: $darkGray;
        border-radius: 6px;

        @include media($tablet) {
            padding: 5px 0;
        }

        li {
            padding: 10px 10px 10px 25px;

            a {
                position: relative;
                color: $lightGray;

                @include media($tablet) {
                    font-size: 14px;
                }

                &:before {
                    content: "";
                    background: url("../images/icon-right-triangle-gray.png")
                        no-repeat;
                    position: absolute;
                    left: -22px;
                    top: 3px;
                    background-size: 100%;
                    background-position: center;
                    display: block;
                    width: 7px;
                    height: 12px;
                }

                &:hover {
                    color: $grayText;

                    &:before {
                        filter: invert(45%) sepia(0%) saturate(2%)
                            hue-rotate(236deg) brightness(94%) contrast(93%);
                    }
                }
            }
        }
    }
}
