.single_lesson {
    position: relative;

    .simplefavorite-button {
        margin-bottom: 20px;
    }

    .video_wrapper .button_wrap {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        padding-top: 20%;

        img {
            width: auto;
            margin: 0 auto;

            @include media($mobile) {
                width: 70px;
            }

            @include media($smallMobile) {
                width: 50px;
            }
        }
    }

    .social_buttons {
        margin-bottom: 20px;
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;

        a {
            position: relative;
            color: $white;
            -webkit-transition: all 0.5s linear 0.5s;
            -moz-transition: all 0.5s linear 0.5s;
            -o-transition: all 0.5s linear 0.5s;
            transition: all 0.5s linear 0.5s;
            width: 3rem;

            &.youtube {
                width: 3.8rem;
            }
        }
    }

    .video_section {
        padding: 60px 0;
        color: $black;

        @include media($mobile) {
            padding: 20px 0;
        }

        h2 {
            @include interbold;
            font-size: 36px;
            text-transform: uppercase;
            line-height: 1.2;
            color: $white;

            @include media($tablet) {
                font-size: 32px;
            }

            @include media($mobile) {
                font-size: 26px;
                margin: 0 0 20px;
            }
        }
    }

    .quote_section {
        background: $darkerGray;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 20px;
        color: $white;

        p {
            @include intermedium;
            float: left;
            line-height: 1.6;
            text-align: left;
        }
    }

    .form_section {
        background: $darkerGray;
        padding: 60px 0;
        color: $white;

        #email_join_single_lesson {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            gap: 20px;

            h4 {
                @include interbold;
                margin: 0;

                @include media($mobile) {
                    width: 100%;
                }
            }

            .mc4wp-form {
                display: block;
                width: 60%;

                @include media($mobile) {
                    width: 100%;
                }
            }
        }
    }

    .social_media_section {
        color: $white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 60px 0;

        .image_wrap {
            @include span-columns(4.5);
            background: url("../images/daric-single-lesson.jpg") no-repeat;
            background-size: cover;
            padding: 14% 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;

            @include media($tablet) {
                display: none;
            }
        }

        .social_media_column {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5rem;

            @include media($tablet) {
                gap: 2rem;
                flex-direction: column;
            }

            .content_box {
                width: 38%;

                @include media($tablet) {
                    width: 65%;
                }

                .columns_wrap {
                    height: 150px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .text_wrap {
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            h3 {
                @include span-columns(12);
                @include intersemibold;
                text-transform: uppercase;
                line-height: 1.4;
                margin-bottom: 0;

                span {
                    color: $red;
                }
            }

            .button_wrap {
                display: block;
                width: 100%;
                float: left;
                margin-top: 20px;

                .button {
                    width: 40rem;
                    margin: 0 auto;
                }
            }
        }
    }

    > .bottom_section {
        padding: 60px 0;
        color: $white;
        width: 100%;
        float: left;
        text-align: center;

        @include media($mobile) {
            padding: 30px 0;
        }

        .button_wrap {
            display: block;
            width: 100%;
            float: left;
        }

        h2 {
            text-transform: uppercase;
        }

        h3 {
            @include interitalic;
            margin-top: 15px;

            @include media($mobile) {
                margin-top: 5px;
            }
        }

        h4 {
            @include intermedium;
            @include medLargeFont;
            margin: 20px 0;

            @include media($tablet) {
                margin-top: 10px;
            }
        }

        .button_wrap {
            .button {
                margin: 0 auto;
                width: 40rem;
            }
        }

        .columns {
            padding: 20px 0;
            margin: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            float: none;
            width: 70%;
            margin: 0 auto;
            gap: 3rem;

            @include media($tablet) {
                width: 100%;
                flex-direction: column;
                flex-wrap: wrap-reverse;
                padding: 0;
                margin: 0 0 20px;
            }
        }

        .column {
            &:first-child {
                width: 50%;
                text-align: left;
                border: 1px solid $red;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                padding: 20px;

                @include media($tablet) {
                    width: 100%;
                    order: 2;
                }
            }

            &:last-child {
                width: 70%;

                @include media($tablet) {
                    width: 100%;
                    order: 1;
                }
            }

            p {
                @include interregular;
                font-size: 18px;
                margin: 0;

                @include media($tablet) {
                    font-size: 16px;
                }

                @include media($mobile) {
                    font-size: 14px;
                }
            }

            ul.check_list {
                @include media($tablet) {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }

                li {
                    @include media($tablet) {
                        width: 32%;
                    }

                    @include media($smallMobile) {
                        width: 50%;
                    }
                }
            }
        }
    }

    #nav-below {
        display: none;

        h1 {
            display: none;
        }

        .nav-previous {
            float: left;
        }

        .nav-next {
            float: right;
        }
    }
}

.must-log-in a {
    @include interbold;
    color: $red;
}
