.video_submit {
    h3 {
        @include intersemibold;
    }

    #post_submit_form {
        max-height: 0;
        overflow: auto;
        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
        padding: 0 40px;

        @include media($mobile) {
            padding: 0;
        }

        .acf-required {
            display: none;
        }

        .acf-field--post-title {
            .acf-label {
                z-index: 1;
                position: absolute;
                left: 20px;
                top: 15px;
                color: $grayText;
                font-size: 1.4rem;

                &.active {
                    display: none;
                }
            }
        }

        .form_wrap {
            padding: 40px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            text-align: left;
            width: 70%;
            float: none;
            margin: 0 auto;

            @include media($tablet) {
                width: 100%;
            }

            @include media($mobile) {
                padding: 10px 10px 20px;
            }
        }

        &.show {
            max-height: 1000px;
            padding-bottom: 10px;
        }

        h3 {
            text-align: center;
            margin: 0 0 20px 0;

            @include media($mobile) {
                font-size: 22px;
            }
        }

        .acf-field-5a3d42a6c17cc label,
        .acf-field-5a3d4282c17cb label,
        .acf-field-5a42c5e21fff9 label,
        .acf-field-5a42c5fe1fffa label,
        .acf-field-5a43cb132c2c2 label,
        .acf-field-5a43cb312c2c3 label {
            display: none;
        }

        .acf-fields {
            margin-bottom: 20px;

            > .acf-field {
                padding: 0;
            }
        }

        .acf-field[data-name="video_link"] .acf-label {
            margin-bottom: 0;
        }

        .acf-field p.description {
            @include interbold;
            font-size: 1.3rem;
            color: $darkGray;

            @include media($mobile) {
                font-size: 1rem;
            }
        }

        .acf-form-submit {
            display: inline-block;

            @include media($desktop) {
                width: 40%;
            }

            @include media($smallMobile) {
                width: 45%;
            }

            input {
                background: $yellow;
                @include basicButton;
                margin: 0;
                height: 45px;

                @include media($desktop) {
                    width: 100%;
                }

                @media all and (max-width: 400px) {
                    font-size: 3.4vw;
                }

                &:hover {
                    background: $yellowHover;
                }
            }
        }

        .cancel_post {
            position: absolute;
            right: 0;
            background: transparent;
            bottom: -6.5rem;

            @include media($desktop) {
                width: 40%;
            }

            @include media($smallMobile) {
                width: 45%;
            }

            @media all and (max-width: 400px) {
                font-size: 3.4vw;
            }

            &:hover {
                background: $black;
                color: $white;
            }
        }

        input,
        textarea {
            background: $white;
        }
    }

    .acf-spinner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8) !important;

        svg {
            width: 100px;
            height: 100px;
            filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(280deg)
                brightness(103%) contrast(101%);
        }

        &.is-active {
            display: flex !important;
            justify-content: center;
            align-items: center;
        }
    }

    .content {
        padding: 0 0 60px;
        width: 100%;
        border-top: 1px solid $darkGray;
    }

    .row {
        padding: 40px 0;
        border-bottom: 1px solid $darkGray;

        &:last-child {
            border-bottom: none;
        }

        .column {
            @include span-columns(6);
            text-align: left;

            @include media($mobile) {
                @include span-columns(4);
            }

            &:last-child {
                padding-left: 40px;

                @include media($mobile) {
                    padding-left: 0;
                }
            }

            a {
                text-transform: uppercase;
                position: relative;
            }

            h3 {
                margin-top: 0;
                margin-bottom: 5px;

                a {
                    color: $black;
                }
            }

            h4 {
                margin: 5px 0;
                font-size: 12px;

                a {
                    color: $black;
                    text-decoration: underline;
                }

                &.sub_title {
                    font-size: 18px;
                }
            }

            p {
                @include media($tablet) {
                    font-size: 14px;
                }
            }

            .button_wrap {
                margin-top: 20px;

                .button {
                    padding: 10px 30px;
                }
            }
        }
    }
}

.single_video {
    color: $black;

    .wrap {
        padding: 40px 0;
    }

    .back_link {
        color: #c4a020;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        padding-left: 10px;
        margin-bottom: 40px;

        &:before {
            content: "";
            background: url(../images/yellow-arrow.png) no-repeat;
            position: absolute;
            left: 0;
            top: 8px;
            width: 5px;
            height: 10px;
            background-size: 100%;
        }

        &:hover {
            color: $yellow;

            &:before {
                content: "";
                background: url(../images/yellow-arrow-alt.png) no-repeat;
                position: absolute;
                left: 0;
                top: 8px;
                width: 5px;
                height: 10px;
                background-size: 100%;
            }
        }
    }

    .navigation {
        @include span-columns(12);
        margin-bottom: 40px;

        h2 {
            display: none;
        }

        .nav-links {
            @include span-columns(12);
        }

        .nav-previous {
            float: left;

            a {
                position: relative;

                &:before {
                    content: "";
                    background: url(../images/arrow_white.png) no-repeat;
                    width: 6px;
                    height: 10px;
                    background-size: 100%;
                    position: absolute;
                    left: 13px;
                    top: 4px;
                    z-index: 1;
                    -webkit-transform: rotateZ(180deg);
                    -moz-transform: rotateZ(180deg);
                    -ms-transform: rotateZ(180deg);
                    -o-transform: rotateZ(180deg);
                    transform: rotateZ(180deg);

                    @include media($mobile) {
                        left: 8px;
                    }
                }
            }

            span {
                padding: 8px 22px 8px 30px;

                @include media($mobile) {
                    padding: 8px 10px 8px 20px;
                }
            }
        }

        .nav-next {
            float: right;
            cursor: pointer;

            a {
                position: relative;

                &:after {
                    content: "";
                    background: url(../images/arrow_white.png) no-repeat;
                    width: 6px;
                    height: 10px;
                    background-size: 100%;
                    position: absolute;
                    right: 12px;
                    top: 5px;

                    @include media($mobile) {
                        right: 8px;
                    }
                }
            }

            span {
                padding: 8px 30px 8px 22px;

                @include media($mobile) {
                    padding: 8px 20px 8px 10px;
                }
            }
        }
    }

    .column {
        @include span-columns(6);

        @include media($mobile) {
            @include span-columns(4);
            margin-bottom: 20px;
        }

        h3 {
            @include intermedium;
            font-size: 30px;
            margin-top: 0;
            margin-bottom: 10px;

            @include media($tablet) {
                font-size: 26px;
            }
        }

        h4 {
            font-size: 12px;
            margin: 5px 0;

            a {
                color: $black;
                text-decoration: underline;
            }

            &.sub_title {
                font-size: 18px;
            }
        }

        h5 {
            font-size: 20px;
            color: $red;
            margin-bottom: 10px;
        }

        .members_only_video_pop {
            display: inline-block;
        }

        p {
            @include interregular;

            @include media($tablet) {
                font-size: 14px;
            }
        }
    }
}

#reply-title span {
    @include span-columns(12);
    @include interregular;
    font-size: 14px;
    text-transform: none;
    padding: 5px 0 10px;

    @include media($mobile) {
        font-size: 12px;
    }
}
