// primary styles

$charcoal: #3a3a3a;
$blue: #0b02ff;

$darkBlue: #0d112b;
$cobalt: #0020c2;

$white: #fff;

$yellow: #f5bf04;
$yellowHover: #c4a020;
$red: #ff000a;
$darkRed: #880415;
$darkGray: #3d3d3d;
$darkerGray: #131313;
$lightGray: #ebebeb;
$grayText: #959494;
$black: #000000;
$darkBg: #191919;

$borderGray: #c8c8c8;
$green: #b7951b;
$darkGreen: #574807;

$blackHover: #4d4d54;
$lightYellow: #f8e59f;
$orange: #ddb72e;
$pink: #cdbb77;


$darkModeBg: #070707;
$darkModeRed: #b80008;